.selectedProduct {
  margin: 20px 1%;
  .buttonEvent {
    button {
      margin-right: 0.5vw;
      border-color: #fc9d4e;
      border-radius: 17px;
      color: black;
    }
    button:focus {
      background-color: #fc9d4e;
    }
  }
}
.eventAddToCollection {
  padding: 5px;
  .content {
    margin-top: 10px;
  }
  .buttonApply {
    display: flex;
    justify-content: flex-end;
    a {
      padding: 5px 15px;
      background-color: #fc9d4e;
      border-radius: 17px;
      margin-top: 25px;
    }
  }
}
.ant-popover-inner {
  border-radius: 12px !important;
}
.eventSetVisibility {
  .content {
    margin-top: 10px;
    font-size: 16px;
    i {
      color: darkviolet;
    }
    a {
      margin-left: 20px;
      color: black !important;
    }
  }
}

.eventDiscount {
  .ant-radio-wrapper {
    input {
      width: 50px;
    }
  }
  .content {
    width: 50px;
  }
  input {
    width: 80px;
    height: 22px;
    margin-left: 5px;
  }
  .buttonSubmit {
    display: flex;
    justify-content: flex-end;
    a {
      font-weight: bold;
      padding: 5px 9px;
      background-color: #fc9d4e;
      border-radius: 17px;
      margin-top: 10px;
    }
  }
}

.close {
  display: none;
}
