.pageSizeSelection {
    font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif !important;
    .anticon {
        vertical-align: 0;
    }
    .navbarHeader {
        background-color: rgba(241, 249, 255, 1);
        height: 55px;
        color: rgba(38, 153, 251, 1);
        font-size: 18px;
        font-weight: bold;
        padding: 0 5%;
        .iconShoppingCart {
            font-size: 23px;
        }
        .ant-badge-count {
            min-height: 10px;
            min-width: 14px;
            height: 15px;
            padding: 0 6px;
            font-size: 8px;
            top: -13px;
        }
    }
    .bodyPage {
        padding: 0 5%;
        .infProduct {
            margin-top: 15px;
            .title__infProduct {
                color: rgba(38, 153, 251, 1);
                .nameProduct {
                    font-weight: bold;
                    font-size: 18px;
                }
                .info {
                    font-size: 14px;
                    i {
                        margin-left: 4px;
                    }
                }
                .anticon {
                    vertical-align: 0;
                }
            }
            .imgProduct {
                width: 180px;
                height: 250px;
                background: rgba(127, 196, 253, 1);
                margin-top: 15px;
            }
            .sizeSelection {
                margin-top: 20px;
                width: 100%;
                .col-2 {
                    padding: 0 6px !important;
                }
                .tilteSize {
                    color: rgba(38, 153, 251, 1);
                    font-size: 14px;
                    background: rgba(241, 249, 255, 1);
                    padding: 6px 0;
                    border-radius: 5px;
                    cursor: pointer;
                }
                .actived {
                    background: rgba(38, 153, 251, 1) !important;
                    color: white !important;
                }
            }
            .scaleBody {
                margin-top: 20px;
                .title__scaleBody {
                    color: rgba(127, 196, 253, 1);
                    font-size: 14px;
                    text-align: center;
                    font-weight: 500;
                    line-height: 1.4;
                }
                .inputScale {
                    .col-4 {
                        padding: 0 7.5px;
                    }
                    span {
                        color: rgba(38, 153, 251, 1);
                        font-size: 12px;
                        font-weight: bold;
                    }
                    .ant-input {
                        border: none;
                        color: rgba(127, 196, 253, 1) !important;
                        border-radius: 0;
                        border-left: 1.2px solid rgba(127, 196, 253, 1);
                        padding: 2px 11px !important;
                    }
                    ::placeholder {
                        color: rgba(127, 196, 253, 1) !important;
                    }
                    .inputBodyScale {
                        padding-bottom: 3px;
                        border-bottom: 0.1px solid rgba(127, 196, 253, 1);
                    }
                }
            }
        }
    }
    .buttonApcept {
        margin: 0 5%;
        margin-top: 20px;
        padding: 10px 0;
        background: rgba(38, 153, 251, 1);
        color: white;
        font-weight: bold;
        cursor: pointer;
        font-size: 16px;
        border-radius: 7px;
        i {
            margin-left: 3px;
        }
    }
}

.ant-modal-confirm-body-wrapper {
    width: 100% !important;
    padding: 0px 20px !important;
}
.ant-modal-confirm-content {
    margin-left: 0px !important;
}
