.c-order-info {
    /* Display & Box Model */
    padding: 0 2.5rem;
    margin-top: 8rem;
    /* Color */
    color: $--text-default;
    /* Text */

    /* Positioning */

    /* Others: transition & animations, ... */
    &__head {
        /* Display & Box Model */
        @include flexBox(space-between, center);
        /* Color */
        /* Text */
    
        /* Positioning */
    
        /* Others: transition & animations, ... */
    
    }
    &__title {
        /* Display & Box Model */
    
        /* Color */
    
        /* Text */
        @include font(fontBold, 1.6rem);
        /* Positioning */
    
        /* Others: transition & animations, ... */
    
    }
    &__sub-title {
        /* Display & Box Model */
    
        /* Color */
        color: $--text-passive;
        /* Text */
        @include font(fontSemiBold, 1.3rem);
        /* Positioning */
    
        /* Others: transition & animations, ... */
    
    }
    &__list {
        /* Display & Box Model */
        padding: 0.9rem 1.8rem;
        border-radius: 7px;
        margin-top: 1rem;
        /* Color */
        background-color: $--bg-passive;
        /* Text */
    
        /* Positioning */
    
        /* Others: transition & animations, ... */
    
    }
    @import "./OrderItem/orderItem.scss";
}
@media screen and (min-width: 769px) {
    .c-order-info {
        /* Display & Box Model */
        margin-top: 0;
        /* Color */
    
        /* Text */
    
        /* Positioning */
    
        /* Others: transition & animations, ... */
        &__title {
            font-size: 1.8rem;
        }
        &__sub-title{
            font-size: 1.4rem;
            cursor: pointer;
        }
        &__list {
            /* Display & Box Model */
            padding: 2rem 3rem;
            margin-top: 1.5rem;
            max-height: 35rem;
            /* Color */
        
            /* Text */
        
            /* Positioning */
            overflow-x: hidden;
            overflow-y: scroll;
            /* Others: transition & animations, ... */
            &::-webkit-scrollbar {
                width: 10px;
                background-color: transparent;
            }
            &::-webkit-scrollbar-thumb {
                border-radius: 10px;
                background: $--primary-color;
            }
        }
    }
}