.multiCarousel {
  margin-top: 10px;
  padding: 0 10% !important;
  .borderImgMulti {
    width: 100px;
    height: 100px;
    padding: 2px 2px;
    img {
      width: 100%;
      height: 100%;
      object-fit: fill;
    }
    img:hover {
      box-shadow: 1px 2px 2px 1px rgba(0, 0, 0, 0.288) !important;
    }
  }
  .slick-slider {
    .slick-next,
    .slick-prev {
      height: 100% !important;
    }
    .slick-prev::before,
    .slick-next::before {
      color: black !important;
      width: 26px !important;
      padding: 0 2px !important;
    }
    .slick-next {
      right: -20px !important;
    }
    .slick-dots {
      display: none !important;
    }
    .slick-current {
      img {
        -webkit-box-shadow: 0 7px 4px #777 !important;
        -moz-box-shadow: 0 7px 4px #777 !important;
        box-shadow: 0 7px 4px #777 !important;
      }
    }
  }
}
@media screen and (min-width: 1550px) {
  .borderImgMulti {
    height: 110px !important;
    padding: 2px 2px;
    img {
      width: 100%;
      height: 100%;
      object-fit: fill;
    }
  }
}
@media screen and (max-width: 767px) {
  .borderImgMulti {
    width: 100px;
    height: 70px !important;
    padding: 2px 2px;
    img {
      width: 100%;
      height: 100%;
      object-fit: fill;
    }
  }
}

.onlyOneSlide {
  padding: 0 20% !important;
}