.pageConfirm {
    font-family: "Montserrat", sans-serif !important;
    color: #111e6c !important;
    width: 100vw;
    height: 100vh;
    overflow-y: "auto";
    overflow-x: "hidden";
    .link {
        /* Positioning */
        width: 100%;
        height: 100%;
        /* Display & Box Model */
        display: flex;
        justify-content: center;
        align-items: center;
        /* Color */
        color: white;
        /* Text */
        text-decoration: none;
        /* Others: transition & animations, ... */
    }
    .anticon {
        vertical-align: 0;
    }
    .navbarHeader {
        background-color: #fff4e3;
        width: 100%;
        height: 9.74vh !important;
        color: #111e6c;
        padding: 0 6.66vw;
        font-size: 18px;
        font-weight: bold;
        .iconBack_wrapper {
            width: 20vw;
            height: 100%;
            .iconBack {
                height: 100%;
                width: 10vw;
                display: flex;
                flex-direction: column;
                justify-content: center;
            }
        }
        .iconShoppingCart {
            display: flex;
            align-items: center;
            justify-content: flex-end;
            width: 20vw;
            img {
                width: 6.66vw;
                height: 3.74vh;
                filter: invert(48%) sepia(72%) saturate(1366%)
                    hue-rotate(335deg) brightness(105%) contrast(106%);
            }
            span {
                font-size: 3.5vw;
                color: #ff6d3b;
            }
        }
        .titleHeader {
            font-size: 5.86vw;
            font-weight: bold;
            color: #111e6c;
            width: 46.68vw;
        }
    }
    .bodyPage {
        padding: 0 5%;
        .infProduct {
            margin-top: 2vh;
            .title__infProduct {
                width: 100%;
                .nameProduct {
                    width: 100%;
                    font-size: 5.86vw;
                    :nth-child(1) {
                        font-weight: bold;
                    }
                    :nth-child(2) {
                        font-size: 4.26vw;
                    }
                    .info {
                        font-size: 3.73vw;
                        span {
                            font-weight: normal !important;
                        }
                        i {
                            margin-left: 5px;
                            color: #ff6d3b;
                        }
                    }
                }
            }
        }
        .imgProduct {
            width: 100%;
            margin-top: 3vh;
            .col-6 {
                padding: 5px !important;
            }
            .image {
                width: 40vw;
                height: 40vw;
                border-radius: 5px;
                object-fit: cover;
                padding: 0.37vh 0.66vw;
                img {
                    width: 40vw;
                    height: 40vw;
                    object-fit: cover;
                    border-radius: 5px;
                    object-fit: cover;
                    padding: 0.37vh 0.66vw;
                }
            }
        }
    }
    .change_wraper {
        padding: 0 5%;
        margin-top: 6.54vh;
        .col-6 {
            padding: 0;
            margin: 0;
        }
        .changeSize {
            border: 1px solid #ff6d3b;
            border-radius: 5px;
            margin-right: 20px;
            padding: 10px 0;
            background-color: #fff4e3;
            span {
                font-size: 3.73vw;
            }
            a {
                span {
                    font-weight: 600;
                    color: #ff6d3b;
                    margin-top: 3px;
                }
            }
            i {
                vertical-align: 0;
                color: #ff6d3b;
                font-size: 13px;
                line-height: 0;
                margin-left: 3px;
            }
        }
        .quantity {
            background: #fff4e3;
            color: #ff6d3b;
            padding: 7px 10px;
            border-radius: 12px;
            span {
                font-size: 13px;
                margin-right: 10px;
            }
            .ant-input {
                border: none;
                color: #ff6d3b;
                font-weight: bold;
                font-size: 20px;
                width: 30px;
                text-align: center;
                margin: 0 20%;
                background-color: transparent;
                padding: 0px !important;
            }
            .anticon {
                font-size: 20px;
            }
        }
    }
    .endPage {
        padding: 0 5%;
        margin-top: 3.74vh;
        .buttonApcept {
            padding: 1.34vh 0;
            background: #ff6d3b;
            width: 100%;
            color: white;
            font-weight: bold;
            cursor: pointer;
            font-size: 16px;
            border-radius: 7px;
            font-size: 5.33vw;
        }
    }

    // Product Modal
    .modal {
        display: none; /* Hidden by default */
        z-index: 10; /* Sit on top */
        width: 100vw !important; /* Full width */
        height: 100vh !important; /* Full height */
        overflow: auto; /* Enable scroll if needed */
        background-color: rgb(0, 0, 0); /* Fallback color */
        background-color: rgba(0, 0, 0, 0.9); /* Black w/ opacity */
        /* Modal Content (image) */
        .image-wrapper {
            width: 100vw !important;
            height: auto !important;
            display: flex !important;
            justify-content: center !important;
            .modal-content {
                display: block;
                width: 95vw !important;
                height: 118.75vw !important;
                background: none !important;
            }
        }
        .slick-slider {
            width: 100vw;
            height: 60vh;
            .slick-dots {
                bottom: -12vw !important;
            }
        }
        /* The Close Button */
        .closeModal {
            height: fit-content;
            width: fit-content;
            color: #f1f1f1;
            font-size: 3rem;
            font-weight: bold;
            margin-right: 1rem;
        }

        .closeModal:hover,
        .closeModal:focus {
            color: #bbb;
            text-decoration: none;
            cursor: pointer;
        }
    }

    .fixed_top {
        position: fixed;
        top: 0;
    }

    .popUpShow {
        display: flex !important;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }
}
