.pageConfirm {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif !important;
    color: #111e6c !important;
    .anticon {
        vertical-align: 0;
    }
    .navbarHeader {
        background-color: #fff4e3;
        height: 7.49vh;
        font-size: 18px;
        font-weight: bold;
        padding: 0 5%;
        .iconShoppingCart {
            font-size: 23px;
        }
        i {
            color: #ff6d3b !important;
        }
        .ant-badge-count {
            min-height: 10px;
            min-width: 14px;
            height: 15px;
            padding: 0 6px;
            font-size: 8px;
            top: -13px;
        }
    }
    .bodyPage {
        padding: 0 5%;
        .infProduct {
            margin-top: 4.19vh;
            .title__infProduct {
                width: 100%;
                .nameProduct {
                    width: 100%;
                    font-size: 18px;
                    :nth-child(1) {
                        font-weight: bold;
                    }
                }
            }
        }
        .imgProduct {
            width: 100%;
            margin-top: 4.49vh;
            .col-6 {
                padding: 5px !important;
            }
            .image {
                background-color: #fc9d4e;
                width: 100%;
                height: 150px;
                border-radius: 5px;
                object-fit: cover;
            }
        }
    }
    .change_wraper {
        padding: 0 5%;
        margin-top: 8.54vh;
        .col-6{
            padding: 0;
            margin: 0;
        }
        .changeSize {
            border: 1px solid #ff6d3b;
            border-radius: 5px;
            margin-right: 20px;
            padding: 10px 0;
            background-color: #fff4e3;
            span {
                font-size: 14px;
            }
            a {
                span {
                    font-weight: 600;
                    color: #ff6d3b;
                    margin-top: 3px;
                }
                
            }
            i {
                vertical-align: 0;
                color: #ff6d3b;
                font-size: 13px;
                line-height: 0;
                margin-left: 3px;
            }
        }
        .quantity {
            background: #fff4e3;
            color: #ff6d3b;
            padding: 7px 10px;
            span {
                font-size: 13px;
                margin-right: 10px;
            }
            .ant-input {
                border: none;
                color: #ff6d3b;
                font-weight: bold;
                font-size: 20px;
                width: 30px;
                text-align: center;
                margin: 0 20%;
                background-color: transparent;
                padding: 0px !important;
            }
            .anticon{
                font-size: 20px;
            }
        }
    }
    .endPage {
        padding: 0 5%;
        margin-top: 3.74vh;
        .buttonApcept {
            padding: 1.34vh 0;
            background: #ff6d3b;
            width: 100%;
            color: white;
            font-weight: bold;
            cursor: pointer;
            font-size: 16px;
            border-radius: 7px;
            i {
                margin-left: 3px;
            }
        }
    }
}
