.pageFix {
    position: fixed;
}
.pageShoppingStore {
    font-family: "Be Vietnam", sans-serif;
    width: 100vw;
    color: #ff6d3b !important;
    a{
        color: #111e6c;
    }
    a:hover{
        color: #111e6c;
    }
    .anticon {
        vertical-align: 0 !important;
    }
    .navbarHeader {
        // position: fixed;
        // top: 0;
        height: 65px !important;
        padding: 0 25px;
        color: #ff6d3b;
        width: 100vw;
        z-index: 6;
        background-color: white;
        .titleHeader {
            width: 45.33vw;
            img {
                width: 100%;
                height: 100%;
                object-fit: fill;
            }
        }
        i {
            font-size: 25px;
        }
        .search-wrapper {
            width: 0;
            z-index: -1;
            position: absolute;
            right: 50;
            .borderSearch {
                width: 0;
                transition: width 500ms ease-in-out;
                input {
                    width: 0;
                }
            }
        }
        .searchOpen {
            position: absolute;
            left: 0;
            background-color: white;
            height: 65px;
            width: 80vw;
            padding-left: 86.5vw;
            .borderSearch {
                position: absolute;
                width: 80vw;
                height: 65px;
                transition: width 500ms ease-in-out;
                transform: translateX(-100%);
                input {
                    width: 85%;
                    border: none;
                    box-shadow: none;
                    font-size: 18px;
                    padding-left: 9px;
                }
                i {
                    font-size: 18px;
                    color: #ff6d3b;
                }
                .buttonSearch {
                    border: none;
                    box-shadow: none;
                    outline: none;
                }
            }
            // input{
            //     width: 200px;
            //     float: right;
            //     transition: width 500ms;
            //     position: relative;
            //
            // }
        }
    }
    .navbarHeaderFixed {
        position: fixed;
        top: 0;
    }
    .seachSuggest-wraper {
        padding: 0 25px;
        border-top: 1.5px solid #ff6d3b;
        .contentHeader {
            height: 33vh;
            margin-top: 10px;
            :nth-child(1) {
                font-size: 20px;
                color: #111e6c;
                font-weight: 500;
                img {
                    margin-right: 3.5%;
                }
            }
            .suggestionContent {
                width: 100%;
                height: 100%;
                overflow: scroll !important;
                .suggestion {
                    color: #111e6c;
                    font-size: 16px;
                    font-weight: 500;
                }
                a {
                    margin-top: 1.6vh;
                }
            }
        }
        .topListProduct {
            margin-top: 2.5%;
            .title {
                font-size: 26px;
                color: #111e6c;
                font-weight: bold;
            }
            .bestSellerInfo-wrapper {
                width: 100%;
                height: auto;
                padding: 5px 0px;
                margin-top: 10px;
                .col-6 {
                    padding: 7px 2.5px;
                    float: left;
                    height: auto;
                }
                .imageProduct {
                    // background-color: #7fc4fd;
                    height: auto;
                    border-radius: 10px;
                    img {
                        width: 100%;
                    }
                }
                .titleProduct {
                    font-size: 14px;
                    text-align: center;
                    font-weight: bold;
                    margin-top: 4px;
                    color: #111e6c;
                }
                .button {
                    margin-top: 3px;
                    span {
                        border: 1px solid #ff6d3b;
                        width: 91px;
                        padding: 3px 0px;
                        font-size: 13px;
                        text-align: center;
                        border-radius: 5px;
                        color: #ff6d3b;
                    }
                }
            }
        }
    }
    .filter {
        padding: 0 25px;
        margin-top: 10px;
        .collectionFilter {
            border: 1px solid #ff6d3b;
            padding: 7px 10px;
            width: 100%;
            border-radius: 5px;
            .iconFilter {
                img {
                    filter: invert(48%) sepia(72%) saturate(1366%)
                        hue-rotate(335deg) brightness(105%) contrast(106%);
                }
            }
            .titleFilter {
                font-size: 3.73vw;
                font-weight: bold;
                text-align: center;
                margin-right: 7px;
            }
        }
        .iconShoppingCart {
            font-size: 23px;
            color: #ff6d3b;
        }
        .ant-badge-count {
            min-height: 10px;
            min-width: 14px;
            height: 15px;
            font-size: 8px;
            top: -15px;
            z-index: 1 !important;
        }
        .ant-badge {
            p {
                line-height: 2;
            }
        }
    }
    .carousel-wraper {
        padding: 0 25px;
        margin-top: 20px;
        .contentSelection {
            background: white;
            border: 1px solid #ff6d3b;
            font-size: 4.26vw;
            padding: 6px 0;
            width: 29.33vw;
            text-align: center;
            border-radius: 10px;
        }
        .active {
            background-color: #ff6d3b !important;
            color: white !important;
        }
    }
    .productList-wraper {
        padding: 5px 23.5px;
        margin-top: 10px;
        .col-6 {
            padding: 7px 2.5px;
            float: left;
            height: auto;
        }
        .imageProduct {
            // background-color: #7fc4fd;
            height: auto;
            border-radius: 10px;
            img {
                width: 100%;
            }
        }
        .titleProduct {
            font-size: 3.73vw;
            text-align: center;
            font-weight: bold;
            margin-top: 4px;
            color: #111e6c;
        }
        .button {
            margin-top: 3px;
            span {
                border: 1px solid #ff6d3b;
                width: 24.26vw;
                padding: 3px 0px;
                font-size: 3.46vw;
                text-align: center;
                border-radius: 5px;
            }
        }
    }
}
