.c-button-CTA {
    /* Display & Box Model */
    border-radius: 1rem;
    padding: 1.2rem 2rem;
    /* Color */
    background-color: $--primary-color;
    /* Text */
    @include font("fontBold", 1.6rem);
    color: $--text-active;
    /* Positioning */

    /* Others: transition & animations, ... */

    &--size18 {
        /* Display & Box Model */
        padding: 1.4rem 2rem;
        /* Color */

        /* Text */
        @include font("fontBold", 1.8rem);
        /* Positioning */

        /* Others: transition & animations, ... */
    }
}

.c-button-size {
    /* Display & Box Model */
    @include box(4.7rem);
    @include centerFlexBox();
    border-radius: 50%;
    /* Color */
    color: $--text-passive;
    background-color: $--bg-passive;
    /* Text */
    @include font(fontBold, 1.6rem);
    /* Positioning */

    /* Others: transition & animations, ... */

    &--active {
        /* Display & Box Model */

        /* Color */
        color: $--text-active;
        background-color: $--bg-active;
        /* Text */

        /* Positioning */

        /* Others: transition & animations, ... */
    }
}

.c-button-filter {
    /* Display & Box Model */
    @include box(8rem);
    @include centerFlexBox();
    border-radius: 50%;
    /* Color */
    color: $--text-passive;
    background-color: $--bg-passive;
    /* Text */
    @include font(fontBold, 1.6rem);
    /* Positioning */

    /* Others: transition & animations, ... */

    &--active {
        /* Display & Box Model */
        border: 2px solid $--border-secondary;
        /* Color */
        color: $--text-active;
        background-color: $--bg-active;
        /* Text */

        /* Positioning */

        /* Others: transition & animations, ... */
    }
}

.c-button-load-more {
    /* Display & Box Model */
    @include centerFlexBox();
    padding: 1rem 1.8rem;
    border: 1px solid $--border-primary;
    border-radius: 1rem;
    /* Color */
    color: $--text-passive;
    /* Text */
    @include font(fontBold, 1.6rem);
    /* Positioning */

    /* Others: transition & animations, ... */

    &:hover {
        /* Display & Box Model */

        /* Color */
        color: $--text-active;
        background-color: $--bg-active;
        /* Text */

        /* Positioning */

        /* Others: transition & animations, ... */
    }
}

.c-button-confirm {
    /* Display & Box Model */
    @include centerFlexBox();
    border-radius: 4.5rem;
    /* Color */
    color: $--text-active;
    background-color: $--bg-active;
    /* Text */
    /* Positioning */

    /* Others: transition & animations, ... */

    &__text {
        /* Display & Box Model */
        margin-right: 1rem;
        /* Color */

        /* Text */
        @include font(fontBold, 1.6rem);
        text-transform: uppercase;
        /* Positioning */

        /* Others: transition & animations, ... */
    }
    &__icon {
        /* Display & Box Model */
        @include box(2rem);
        /* Color */

        /* Text */

        /* Positioning */

        /* Others: transition & animations, ... */
    }
}

.c-button-size-option {
    /* Display & Box Model */
    @include centerFlexBox();
    padding: 1.2rem 2rem;
    border-radius: 1.5rem;
    /* Color */
    color: $--text-passive;
    background-color: $--bg-passive;
    /* Text */
    @include font(fontBold, 1.6rem);
    /* Positioning */

    /* Others: transition & animations, ... */

    &--active {
        /* Display & Box Model */

        /* Color */
        color: $--text-active;
        background-color: $--bg-active;
        /* Text */

        /* Positioning */

        /* Others: transition & animations, ... */
    }
    &--icon-default {
        /* Display & Box Model */
        @include box(2.7rem);
        margin-right: 1.2rem;
        /* Color */

        /* Text */

        /* Positioning */

        /* Others: transition & animations, ... */
    }
    &--icon-measured {
        /* Display & Box Model */
        @include box(4.167rem, 2.497rem);
        margin-right: 1.2rem;
        /* Color */

        /* Text */

        /* Positioning */

        /* Others: transition & animations, ... */
    }
}

.c-button-profile {
    /* Display & Box Model */
    padding: 0.51rem 1.2rem;
    border-radius: 5.0996px;
    /* Color */
    background-color: $--bg-info;
    color: $--text-active;
    /* Text */
    @include font(fontMedium, 1.3rem);
    /* Positioning */

    /* Others: transition & animations, ... */
}
