.container-media {
    position: fixed;
    right: 0;
    bottom: 13vh;
    width: 60px;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    z-index: 100;
    transition: 0.5s;
}

.container-media.hide {
    right: -100px !important;
}

#media.disable {
    display: none !important;
}

.container-media img {
    width: 100%;
    max-height: auto;
}

#shop {
    background-color: #eb650c;
}

#facebook {
    background-color: blue;
}

#instagram {
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
}

#zalo {
    background-color: royalblue;
}

#toggle {
    background-color: #eb650c;
}

.container-media a {
    color: #fff;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: rgba(0, 0, 0, 0.411);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    margin: 5px;
    transition: 0.5s;
}

.container-media a:hover {
    text-decoration: none;
    color: black !important;
}

.container-media button {
    color: white;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: rgba(0, 0, 0, 0.411);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    margin: 5px;
    transition: 0.5s;
    border: none;
    box-shadow: 0 0 0 0.2rem rgba(254, 135, 55, 0.5) !important;
}

.container-media button:hover {
    text-decoration: none;
    color: black !important;
    box-shadow: 0 0 0 0.5rem rgba(254, 135, 55, 0.5) !important;
}

.container-media button:focus, .container-media button:active  {
    outline: none;
}

.mediaCollapse {
    display: none !important;
}

.mediaToggle {
    background-color: #eb650c !important;
}

.mediaStore {
    display: none !important;
}