.c-home-voucher {
    /* Display & Box Model */
    margin-top: 3.6rem;
    margin-bottom: 5rem;
    padding: 1rem;
    @include flexBox(space-between,center);
    border-radius: 20px;
    /* Color */
    background-color: $--bg-passive;
    /* Text */

    /* Positioning */

    /* Others: transition & animations, ... */
    &__content {
        /* Display & Box Model */
        margin-left: 2rem;
        /* Color */
    
        /* Text */
    
        /* Positioning */
    
        /* Others: transition & animations, ... */
    
    }
    &__title {
        /* Display & Box Model */
        margin-bottom: 3rem;
        width: 14rem;
        /* Color */
        color: $--text-passive;
        /* Text */
        @include font(fontBold, 2.4rem);
        /* Positioning */
    
        /* Others: transition & animations, ... */
    
    }
    &__image {
        /* Display & Box Model */
        @include box(19.3rem);
        /* Color */
    
        /* Text */
    
        /* Positioning */
    
        /* Others: transition & animations, ... */
    
    }
}