.content_wrapper {
    width: 80%;
    margin-top: 11.33vh;
    .headerContent {
        // margin-left: 9vw;
        margin-left: 75px;
        .titleHeader {
            :nth-child(1) {
                color: #111e6c;
                font-size: 1.66vw;
                font-weight: bold;
                :nth-child(1) {
                    font-weight: normal;
                }
            }
        }
        .selection {
            width: 16.25vw;
            .ant-select {
                border: 1px solid #ff6d3b;
                border-radius: 0;
            }
            .ant-select-selection {
                border: none;
                box-shadow: none;
            }
            .ant-select-selection__placeholder {
                color: #ff6d3b;
                font-size: 0.97vw;
                font-weight: bold;
            }
            .ant-select-arrow {
                i {
                    color: #ff6d3b;
                }
            }
        }
    }
    .productList_wrapper {
        // padding-left: 7.62vw;
        padding-left: 58px;
        padding-top: 3.66vh;
        .col-4 {
            float: left;
            padding: 0;
            padding-left: 1.38vw;
        }
        .contentProduct {
            margin-bottom: 7.77vh;
            .image {
                width: 21.11vw;
                height: 26.3875vw;
                background: #ffa45c;
                border-radius: 10px;
                img {
                    // width: 21.11vw;
                    // height: 26.3875vw;
                    width: 100%;
                    border-radius: 10px;
                }
            }
            .productName {
                width: fit-content;
                font-size: 1.52vw;
                font-weight: bold;
                margin-top: 10px;
                cursor: pointer;
            }
            .button {
                width: fit-content;
                border-radius: 10px;
                border: 1px solid #ff6d3b;
                font-size: 1.11vw;
                color: #ff6d3b;
                font-weight: bold;
                padding: 3px 15px;
                margin-top: 8px;
                cursor: pointer;
            }
        }
    }
}
.ant-select-dropdown-menu-item:hover:not(.ant-select-dropdown-menu-item-disabled) {
    background-color: #fff4e3 !important;
}
