.c-fabric-desktop {
    /* Display & Box Model */
    @include box(35rem, 38rem);
    @include flexBox(flex-start, flex-start, row, wrap);
    max-height: 38rem;
    /* Color */

    /* Text */

    /* Positioning */

    /* Others: transition & animations, ... */
    overflow-x: hidden;
    overflow-y: scroll;
    &-item {
        /* Display & Box Model */
        @include box(10rem);
        margin: 0.5rem;
        border-radius: 20px;
        overflow: hidden;
        /* Color */
        background-color: $--bg-passive;
        /* Text */

        /* Positioning */

        /* Others: transition & animations, ... */
        &:nth-child(1) {
            margin-top: 0;
        }
        &:nth-child(2) {
            margin-top: 0;
        }
        &:nth-child(3) {
            margin-top: 0;
        }

        & > img {
            /* Display & Box Model */
            border-radius: 20px;
            /* Color */

            /* Text */

            /* Positioning */

            /* Others: transition & animations, ... */
        }

        &--active > img {
            border: 2px solid $--border-primary;
        }
    }
    &::-webkit-scrollbar {
        width: 10px;
        background-color: transparent;
    }
    &::-webkit-scrollbar-thumb {
        border-radius: 10px;
        background: $--primary-color;
    }
}
