.c-admin-data-upload {
    /* Display & Box Model */
    @include box(100%, 100%);
    min-height: 100%;
    padding-left: 2rem;
    /* Color */
    background: #fff;
    /* Text */

    /* Positioning */

    /* Others: transition & animations, ... */
    &__header {
        /* Display & Box Model */
        @include box(90.5rem, 12rem);
        @include flexBox(space-between, center);
        /* Color */

        /* Text */

        /* Positioning */

        /* Others: transition & animations, ... */
    }
    &__search-box {
        /* Display & Box Model */
        @include box(33.3rem, 5.5rem);
        @include flexBox(flex-start, center);
        border-radius: 15px;
        /* Color */
        background: #f2f2f2;
        /* Text */

        /* Positioning */

        /* Others: transition & animations, ... */
    }
    &__icon-search {
        /* Display & Box Model */
        @include box(2.4rem);
        margin-left: 2rem;
        margin-right: 0.8rem;
        /* Color */

        /* Text */

        /* Positioning */

        /* Others: transition & animations, ... */
    }
    &__input-search {
        /* Display & Box Model */
        border: none;
        box-shadow: none;
        outline: none;
        width: 25rem;
        /* Color */
        background: transparent;
        color: #828282;
        /* Text */
        @include font(fontBold, 1.6rem);
        /* Positioning */

        /* Others: transition & animations, ... */
    }
    &__button-upload {
        /* Display & Box Model */
        @include centerFlexBox();
        @include box(13.3rem, 5.6rem);
        border-radius: 13px;
        margin-left: 2rem;
        /* Color */
        background: $--bg-active;
        /* Text */
        @include font(fontBold, 1.4rem);
        color: white;
        /* Positioning */

        /* Others: transition & animations, ... */
        cursor: pointer;
        img {
            @include box(2.4rem);
            margin-left: 0.6rem;
        }
        input[type="file"] {
            display: none;
        }
    }
    &--left {
        @include centerFlexBox();
    }
    &__button-confirm {
        /* Display & Box Model */
        @include box(7.6rem, 5.6rem);
        @include centerFlexBox();
        border-radius: 13px;
        /* Color */
        color: white;
        background-color: #e0e0e0;
        /* Text */
        @include font(fontBold, 1.4rem);
        /* Positioning */

        /* Others: transition & animations, ... */
        cursor: pointer;
        transition: all 0.2s ease-in-out;

        &:hover {
            /* Display & Box Model */

            /* Color */
            color: white;
            background-color: $--primary-color;
            /* Text */

            /* Positioning */

            /* Others: transition & animations, ... */
        }
    }
    &__table-wrapper {
        /* Display & Box Model */
        min-width: 100%;
        height: calc(70%);
        /* Color */

        /* Text */

        /* Positioning */

        /* Others: transition & animations, ... */
        overflow-y: scroll;
        overflow-x: scroll;
        &::-webkit-scrollbar {
            height: 10px;
            width: 10px;
            padding-left: 10px;
            background-color: transparent;
        }
        &::-webkit-scrollbar-thumb {
            border-radius: 10px;
            background: $--primary-color;
            height: 10px;
            width: 10px;
            padding-left: 10px;
        }
    }
    @import "./UploadTable/uploadTable";
}
