$--primary-color: #ff8445;
$--secondary-color: #ffebd8;
$--third-color: #111e6c;
$--sidebar-color: #fff4e3;
$--black-color: #333333;
$--white-color: #ffffff;
$--yellow-color: #fcd681;
$--gray1-color: #8e8e8e;
$--gray2-color: #e5e5e5;
$--gray3-color: #eef1f4;
$--gray4-color: #f2f2f2;
$--gray5-color: #e0e0e0;
$--gray6-color: #bdbdbd;
$--info-color: #1884d6;
$--success-color: #27ae60;
$--error-color: #eb5757;
$--red1-color: #cb4b14;

// Text
$--text-default: $--black-color;
$--text-active: $--white-color;
$--text-passive: $--primary-color;
$--text-blur: $--gray1-color;
$--text-third: $--third-color;
// Background
$--bg-default: $--white-color;
$--bg-active: $--primary-color;
$--bg-passive: $--secondary-color;
$--bg-info: $--info-color;
$--bg-black: $--black-color;
$--bg-admin: #f8f9fb;
// Border
$--border-primary: $--primary-color;
$--border-secondary: $--secondary-color;
$--border-avatar: $--yellow-color;
$--border-dash: $--primary-color;
$--border-blur1: $--gray1-color;
$--border-blur2: $--gray2-color;
$--border-blur3: $--gray3-color;
