.landingPageWelcomeMobile_wrapper {
    font-family: "Montserrat", sans-serif !important;
    color: #ff6d3b;
    img {
        width: 100%;
        height: 100%;
    }
    .text-underline {
        text-decoration: underline;
    }
    .navbarHeaderLandingPage {
        padding: 0 6.26vw;
        height: 24.26vw;
        .logoTW {
            width: 40.8vw;
            height: 4.53vw;
            margin-top: -1.5vw;
            img {
                object-fit: fill;
            }
        }
        .button {
            background-color: #fff4e3;
            border: 1px solid #ff6d3b;
            border-radius: 40px;
            font-weight: bold;
            font-size: 2.66vw;
            color: #ff6d3b;
            width: 33.06vw;
            height: 8.8vw;
        }
    }
    .bannerLandingPage {
        min-height: 53.14vh;
        background-color: #fff4e3;
    }
    .formInput_wrapper {
        background-color: #fff4e3;
        .title1FormInput {
            width: 78.4vw;
            margin-top: 7.39vw;
        }
        .title2FormInput {
            font-size: 3.73vw;
            font-weight: bold;
            height: 17.6vw;
            display: flex;
            align-items: center;
        }
        .title3FormInput {
            font-size: 2.66vw;
        }
        .formInput {
            margin-top: 5.33vw;
            .inputName,
            .inputPhoneNumber,
            .inputEmail {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: flex-start;
                input {
                    border: none;
                    box-shadow: none;
                    color: #ff6d3b;
                    font-size: 3.2vw;
                    width: 72.53vw;
                    height: 12vw;
                    border-radius: 8px;
                }
                ::placeholder {
                    color: #ffa45c;
                }
                small {
                    margin-left: 5px;
                }
            }
            .inputPhoneNumber,
            .inputEmail {
                margin-top: 4vw;
            }
            .buttonAcceptForm_wrapper {
                margin-top: 6.66vw;
                margin-bottom: 10.4vw;
                .buttonAcceptForm {
                    background-color: #ff6d3b;
                    color: white;
                    font-weight: bold;
                    font-size: 3.73vw;
                    border-radius: 15px;
                    width: 58.13vw;
                    height: 13.06vw;
                }
            }
        }
    }
    .section2_wrapper {
        margin-top: 8vw;
        .imageSection2_wrapper {
            height: 96.53vw;
            background-color: #ffa45c;
        }
        .contentSection2_wrapper {
            position: absolute;
            width: 100%;
            .title1Section2 {
                margin-top: 9.33vw;
            }
            .title2Section2 {
                margin-top: 11.2vw;
            }
            .buttonSection2 {
                margin-top: 11.2vw;
                background-color: #ff6d3b;
                color: white;
                width: 58.13vw;
                height: 13.06vw;
                font-size: 3.73vw;
                font-weight: bold;
                border-radius: 15px;
            }
        }
    }
    .section3_wrapper {
        margin-top: 6.13vw;
        .imageSection3_wrapper {
            background-color: #fff4e3;
            min-height: 75.46vw;
        }
        .contentSection3_wrapper {
            .title1Section3 {
                font-weight: bold;
                font-size: 4.8vw;
                margin-top: 7.2vw;
            }
            .title2Section3 {
                font-weight: bold;
                font-size: 3.73vw;
                margin: 3.2vw 0;
            }
            .buttonSection3 {
                font-weight: bold;
                background-color: #fff4e3;
                border: 1px solid #ff6d3b;
                border-radius: 40px;
                width: 50.13vw;
                height: 11.2vw;
                font-size: 3.2vw;
                display: flex;
                justify-content: center;
                align-items: center;
            }
            a {
                color: #ff6d3b;
                text-decoration: none;
            }
        }
    }
    .footerLandingPage_wrapper {
        background-color: #fff4e3;
        margin-top: 8vw;
        .title1Footer {
            font-weight: bold;
            font-size: 5.33vw;
            margin-top: 9.06vw;
        }
        .title2Footer {
            font-size: 2.66vw;
            font-weight: bold;
            margin-top: 2.8vw;
        }
        .formInput_wrapper {
            margin-top: 8vw;
            .formInput {
                margin: 0;
            }
        }
        .socialIcon_wrapper {
            width: 36.8vw;
        }
        .logoFooter_wrapper {
            margin-top: 11.33vw;
            margin-bottom: 10.66vw;
        }
    }
    .lazy-load-image-background {
        width: 100%;
        height: 100%;
    }
    .error {
        color: red;
    }
    .errorUnvisible {
        display: none;
    }
}
