.bodyPageCustomerInfo {
    font-family: "Montserrat", sans-serif;
    margin-bottom: 10vh;
    .inputInfo {
        padding: 0 8.8vw;
        padding-top: 2.49vh;
        .input {
            margin-bottom: 25px;
            span {
                font-size: 3.73vw;
                font-weight: 600;
                color: #111e6c;
            }
            input {
                font-size: 12px;
                background: #fff4e3;
                border-radius: 10px;
                border: none;
                box-shadow: none;
                color: #111e6c;
                margin-top: 10px;
                height: 40px;
                padding-left: 19px;
            }
            ::placeholder {
                font-size: 13px;
                color: rgba(4, 21, 121, 0.6);
            }
            .error {
                color: red;
                font-family: "Be Vietnam", sans-serif;
            }
            .errorUnvisible {
                display: none;
            }
        }
    }
    .checkBox {
        padding: 0 8.8vw;
        .content {
            font-weight: bold;
            font-size: 3.73vw;
            color: #111e6c;
        }
    }
    
}
.bodyPagePaymentConfirm {
    font-family: "Montserrat", sans-serif;
    padding: 0 8.8vw;
    padding-top: 2.49vh;
    .address {
        .titleHead {
            :nth-child(1) {
                font-weight: bold;
                font-size: 3.73vw;
                color: #111e6c;
            }
            :nth-child(2) {
                font-weight: bold;
                font-size: 2.66vw;
                color: #ff6d3b;
            }
        }
        .content {
            background: #fff4e3;
            color: #111e6c;
            padding: 18px;
            border-radius: 5px;
            margin-top: 8px;
            :nth-child(1) {
                font-weight: 600;
                font-size: 3.2vw;
            }
            :nth-child(2) {
                font-size: 3.2vw;
                margin-top: 5px;
            }
        }
    }
    .selectPayment {
        margin-top: 4.49vw;
        .titleHead {
            font-weight: bold;
            font-size: 3.73vw;
            color: #111e6c;
            margin-bottom: 8px;
        }
        .content {
            .selection {
                background: #fff4e3;
                border-radius: 5px;
                height: 44px;
                padding: 0 19px;
                font-weight: 600;
                margin-bottom: 5px;
                span {
                    color: #111e6c;
                    font-size: 3.74vw;
                }
            }
        }
    }
    .info {
        margin-top: 3.74vh;
        .titleHead {
            :nth-child(1) {
                font-weight: bold;
                font-size: 3.73vw;
                color: #111e6c;
            }
            :nth-child(2) {
                font-weight: bold;
                font-size: 2.66vw;
                color: #ff6d3b;
            }
        }
        .content {
            background: #fff4e3;
            color: #111e6c;
            padding: 13px 18px;
            border-radius: 5px;
            margin-top: 8px;
            .infoProduct {
                padding: 15px 0;
                .image {
                    width: 15.73vw;
                    height: 8.84vh;
                    background: #ffa45c;
                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }
                .titleInfoProduct {
                    margin-left: 13px;
                    div {
                        :nth-child(1) {
                            font-size: 3.2vw;
                            font-weight: 600;
                        }
                        :nth-child(2) {
                            font-size: 10px;
                            font-weight: 600;
                        }
                    }
                    :nth-child(2) {
                        font-size: 3.2vw;
                        font-weight: 500;
                    }
                }
                .quantity {
                    font-size: 3.2vw;
                    font-weight: 600;
                }
            }
        }
    }
    .cost {
        color: #111e6c;
        margin-top: 21px;
        :nth-child(1) {
            font-weight: bold;
            font-size: 3.2vw;
        }
        :nth-child(2) {
            font-weight: 500;
            font-size: 3.73vw;
        }
    }
    .total {
        color: #111e6c;
        margin-top: 1.64vh;
        :nth-child(1) {
            font-weight: bold;
            font-weight: 500;
            font-size: 4.8vw;
        }
        :nth-child(2) {
            font-weight: 600;
            font-size: 4.8vw;
        }
    }
}
.orderConfirmMobile_wrapper{
    padding: 0 6.66vw;
    .imageOrderConfirm{
        width: 85vw;
        margin-top: 2vh;
        img{
            width: 100%;
            height: 100%;
        }
    }
    .iconChecked{
        width: 8vw;
        height: 4.49vh;
        margin-top: 2vh;
        svg{
            width: 100%;
            height: 100%;
        }
    }
    .contentPage{
        color: #111e6c;
        margin-top: 5vh;
        .titleHead{
            font-size: 5.33vw;
            font-weight: bold;
        }
        .titleSecond{
            text-align: center;
            font-size: 3.73vw;
            font-weight: bold;
            margin-top: .5vh;
            .underline{
                text-decoration: underline;
            }
        }
        .giftButton{
            background-color: #ff6d3b;
            color: white !important;
            font-size: 3.2vw;
            font-weight: bold;
            padding: 1vh 5vw;
            border-radius: 7px;
            margin-top: 3vh;
            margin-bottom: 3vh;
        }
        .titleThird{
            color: #ff6d3b !important;
            font-size: 3.73vw;
            font-weight: bold;
            svg{
                margin-left: 3px;
                margin-top: -2px;
            }
        }
    }
}