.c-selection-desc {
    /* Display & Box Model */
    margin-top: 5.6rem;
    /* Color */
    color: $--text-passive;
    /* Text */

    /* Positioning */

    /* Others: transition & animations, ... */

    &__wrapper:last-child {
        /* Display & Box Model */
        margin-top: 1.5rem;
        /* Color */
    
        /* Text */
    
        /* Positioning */
    
        /* Others: transition & animations, ... */
    
    }
    &__title {
        /* Display & Box Model */
        
        /* Color */
    
        /* Text */
        @include font(fontBold, 1.6rem);
        text-transform: capitalize;
        /* Positioning */
    
        /* Others: transition & animations, ... */
    
    }
    &__text {
        /* Display & Box Model */
        margin-top: 1.5rem;
        /* Color */
    
        /* Text */
        @include font(fontMedium, 1.4rem);
        /* Positioning */
    
        /* Others: transition & animations, ... */
    
    }
}