.pageSizeSelection {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif !important;
    color: #111e6c !important;
    .anticon {
        vertical-align: 0;
    }
    .navbarHeader {
        background-color: #fff4e3;
        height: 7.49vh;
        font-size: 18px;
        font-weight: bold;
        padding: 0 5%;
        .iconShoppingCart {
            font-size: 23px;
        }
        i {
            color: #ff6d3b !important;
        }
        .ant-badge-count {
            min-height: 10px;
            min-width: 14px;
            height: 15px;
            padding: 0 6px;
            font-size: 8px;
            top: -13px;
        }
    }
    .bodyPage {
        padding: 0 5%;
        .infProduct {
            .title__infProduct {
                margin-top: 1.64vh;
                .nameProduct {
                    font-weight: bold;
                    font-size: 18px;
                }
                .info {
                    font-size: 14px;
                    i {
                        margin-left: 4px;
                        color: #ff6d3b;
                    }
                }
                .anticon {
                    vertical-align: 0;
                }
            }
            .imgProduct {
                width: 70vw;
                margin-top: 2.84vh;
                img{
                    width: 100%;
                    height: 100%;
                    object-fit: fill;
                }
            }
            .sizeSelection {
                width: 100%;
                margin-top: 3.74vh;
                .col-2 {
                    padding: 0 6px !important;
                }
                .tilteSize {
                    color: #ff6d3b;
                    font-size: 14px;
                    background: #fff4e3;
                    padding: 6px 0;
                    border-radius: 5px;
                    font-weight: 600;
                    cursor: pointer;
                    a {
                        width: 100%;
                        height: 100%;
                    }
                }
                .actived {
                    background: #ff6d3b !important;
                    color: white !important;
                }
            }
            .scaleBody {
                .title__scaleBody {
                    font-size: 14px;
                    text-align: center;
                    font-weight: 500;
                    line-height: 1.4;
                    margin-top: 2.69vh;
                }
                .inputScale {
                    margin-top: 1.34vh;
                    .col-4 {
                        padding: 0 7.5px;
                    }
                    span {
                        font-size: 12px;
                        font-weight: bold;
                    }
                    .ant-input {
                        border: none;
                        color: #ffa45c !important;
                        border-radius: 0;
                        border-left: 1.2px solid #ffa45c;
                        padding: 2px 11px !important;
                    }
                    ::placeholder {
                        color: #ffa45c !important;
                    }
                    .inputBodyScale {
                        padding-bottom: 3px;
                        border-bottom: 0.1px solid #ff6d3b;
                    }
                }
            }
        }
        .buttonApcept {
            padding: 10px 0;
            background: #ff6d3b;
            color: white;
            font-weight: bold;
            margin-top: 3.64vh;
            margin-bottom: 1vh;
            cursor: pointer;
            font-size: 16px;
            border-radius: 7px;
            i {
                margin-left: 8.4%;
            }
        }
    }
}

.ant-modal-confirm-body-wrapper {
    width: 100% !important;
    padding: 0px 20px !important;
}
.ant-modal-confirm-content {
    margin-left: 0px !important;
}
