.pageSizeSelection {
    font-family: "Montserrat", sans-serif !important;
    color: #111e6c !important;
    width: 100%;
    height: 100%;
    overflow: hidden;
    .navbarHeader {
        background-color: #fff4e3;
        width: 100%;
        height: 9.74vh !important;
        color: #111e6c;
        padding: 0 6.66vw;
        font-size: 18px;
        font-weight: bold;
        .iconBack {
            width: 20vw;
        }
        .iconShoppingCart {
            display: flex;
            align-items: center;
            justify-content: flex-end;
            width: 20vw;
            img {
                width: 6.66vw;
                height: 3.74vh;
                filter: invert(48%) sepia(72%) saturate(1366%)
                    hue-rotate(335deg) brightness(105%) contrast(106%);
            }
            span{
                font-size: 3.5vw;
                color: #ff6d3b;
            }
        }
        .titleHeader {
            font-size: 5.86vw;
            font-weight: bold;
            color: #111e6c;
            width: 46.68vw;
            text-align: center;
        }
    }
    .bodyPage {
        padding: 0 5%;
        width: 100%;
        height: 92.51vh;
        .infProduct {
            .title__infProduct {
                margin-top: 1.64vh;
                .nameProduct {
                    font-weight: bold;
                    font-size: 5.86vw;
                }
                .info {
                    font-size: 3.73vw;
                    i {
                        margin-left: 4px;
                        color: #ff6d3b;
                    }
                }
                .anticon {
                    vertical-align: 0;
                }
            }
            .imgProduct {
                width: 70vw;
                height: 40.07vh;
                margin-top: .8vh;
                img {
                    width: 100%;
                    height: 100%;
                    object-fit: fill;
                }
            }
            .sizeSelection {
                width: 100%;
                margin-top: 3.74vh;
                .col-2 {
                    padding: 0 6px !important;
                }
                .titleSize {
                    color: #ff6d3b;
                    font-size: 3.73vw;
                    background: #fff4e3;
                    padding: 6px 0;
                    border-radius: 5px;
                    font-weight: 600;
                    cursor: pointer;
                    a {
                        width: 100%;
                        height: 100%;
                    }
                }
                .actived {
                    background: #ff6d3b !important;
                    color: white !important;
                }
            }
            .scaleBody {
                .title__scaleBody {
                    font-size: 3.2vw;
                    font-style: italic;
                    text-align: center;
                    font-weight: 500;
                    line-height: 1.4;
                    margin-top: 2.69vh;
                }
                .inputScale {
                    margin-top: 1.34vh;
                    .col-4 {
                        padding: 0 7.5px;
                    }
                    span {
                        font-size: 12px;
                        font-weight: bold;
                    }
                    .ant-input {
                        border: none;
                        color: #ffa45c !important;
                        border-radius: 0;
                        border-left: 1.2px solid #ffa45c;
                        padding: 2px 11px !important;
                        font-size: 3.73vw !important;
                        box-shadow: none;
                    }
                    ::placeholder {
                        color: #ffa45c !important;
                    }
                    .inputBodyScale {
                        padding-bottom: 3px;
                        border-bottom: 0.1px solid #ff6d3b;
                    }
                }
            }
        }
        .buttonApcept {
            padding: 10px 0;
            background: #ff6d3b;
            color: white;
            font-weight: bold;
            margin-top: 3.64vh;
            margin-bottom: 1vh;
            cursor: pointer;
            font-size: 16px;
            border-radius: 7px;
            font-size: 5.33vw;
        }
    }
}

.ant-modal-confirm-body-wrapper {
    width: 100% !important;
    padding: 0px 20px !important;
}
.ant-modal-confirm-content {
    margin-left: 0px !important;
}
