.filter_wrapper {
    margin-top: 11.66vh;
    width: 210px;
    .collection, .viewPriority {
        span {
            font-weight: bold;
            font-size: 1.11vw;
        }
        .subTitle {
            margin-top: 17px;
            .ant-checkbox-wrapper {
                margin: 0;
            }
            .ant-checkbox + span{
                padding-left: 13px;
            }
            span{
                font-size: 0.97vw;
                color: #111E6C;
                font-weight: 600;
            }
            label{
                margin-bottom: 2vh !important;
            }
        }
    }
    .viewPriority{
        margin-top: 4.66vh;
    }
}
