.filter_wrapper {
    margin-top: 11.66vh;
    width: 20%;
    .collection,
    .viewPriority {
        span {
            font-weight: bold;
            font-size: 1.11vw;
        }
        .subTitle {
            margin-top: 17px;
            .ant-checkbox-wrapper {
                margin: 0;
            }
            .ant-checkbox + span {
                padding-left: 13px;
            }
            span {
                font-size: 0.97vw;
                color: #111e6c;
                font-weight: 600;
            }
            label {
                margin-bottom: 2vh !important;
            }
        }
    }
    .viewPriority {
        margin-top: 4.66vh;
    }
    &__nothing-to-buy-banner {
        width: 100%;
        height: auto;

        padding-top: 50px;

        img {
            border-radius: 10px;
        }

        &--fixed {
            position: fixed;
            top: 0;
            width: 18%;
        }
    }
}
