.l-designer {
    background-color: #fff;
    min-height: 100vh;
    &__design-list {
        /* Display & Box Model */
        padding: 0 2rem;
        /* Color */
    
        /* Text */
    
        /* Positioning */
    
        /* Others: transition & animations, ... */
    
    }
}
@media screen and (min-width: 769px) {
    .l-designer {
        /* Display & Box Model */
        max-width: 128rem;
        height: auto;
        margin: 0 auto;
        min-height: 0;
        /* Color */
    
        /* Text */
    
        /* Positioning */
    
        /* Others: transition & animations, ... */
        .c-stars__icon{
            @include box(2.7rem);
        }
        &__design-list {
            /* Display & Box Model */
            padding: 0 7.1rem;
            /* Color */
        
            /* Text */
        
            /* Positioning */
        
            /* Others: transition & animations, ... */
        
        }
    }
}