.pageSizeSelectionWeb {
    font-family: "Montserrat", sans-serif;
    color: #111e6c;
    margin-top: 6.16vh;
    .iconBack {
        margin-right: 24px;
        color: #ff6d3b;
        font-weight: bold;
        i {
            font-size: 20px;
        }
        span {
            font-size: 14px;
            margin-top: 3px;
        }
    }
    .bodyScale {
        width: 43.61vw;
        .imageBodySize {
            width: 28.61vw;
            height: 47.33vh;
            img {
                width: 100%;
                height: 100%;
            }
        }
        .inputBody {
            width: 100%;
            margin-top: 2.88vh;
            span {
                font-size: 0.97vw;
                font-weight: bold;
            }
            input {
                font-size: 1.38vw;
                border: 1px solid #ff6d3b;
                border-radius: 0;
                width: 13.61vw;
                height: 6.11vh;
                outline: none;
                box-shadow: none;
                text-align: center;
                color: #111e6c;
                font-weight: bold;
            }
            ::placeholder {
                color: #111f6c60;
            }
        }
        .selectionSize {
            width: 100%;
            margin-top: 2.22vh;
            .selecttion {
                // background-color: #ff6d3b;
                background: #fff4e3;
                color: #ff6d3b;
                font-weight: bold;
                font-size: 1.38vw;
                width: 6.11vw;
                height: 5.05vh;
                border-radius: 15px;
                cursor: pointer;
            }
        }
    }
    .infoProduct {
        background: #fff4e3;
        border-radius: 10px;
        width: 28.61vw;
        height: 57vh;
        margin-left: 8.95vw;
        padding: 4vh 2.77vw 0 2.77vw;
        .info{
            :nth-child(1){
                font-size: 1.805vw;
                font-weight: bold;
            }
            :nth-child(2){
                font-size: 1.52vw;
                font-weight: 600;
            }
            :nth-child(3){
                font-size: 1.25vw;
                font-weight: bold;
                margin-top: 4.56vh;
            }
            :nth-child(4){
                font-size: 0.9vw;
            }
            :nth-child(5){
                font-size: 1.25vw;
                font-weight: bold;
                margin-top: 2.56vh;
            }
            :nth-child(6){
                font-size: 0.9vw;
            }
        }
        .changeQuantity{
            margin-top: 6.88vh;
            span{
                font-size: 1.25vw;
                font-weight: bold;
            }
            .quantity {
                .anticon {
                    vertical-align: 0;
                }
                i {
                    background-color: #ff6d3b;
                    cursor: pointer;
                    padding: 0.2vw;
                    font-size: 0.97vw;
                    color: white;
                    border-radius: 2px;
                }
                input {
                    width: 4vw;
                    text-align: center;
                    border: none;
                    color: #ff6d3b;
                    font-weight: bold;
                    font-size: 1.52vw;
                    background-color: transparent;
                }
            }
        }
        .total{
            margin-top: 6.88vh;
            margin-left: 6.11vw;
            :nth-child(1), :nth-child(2){
                font-size: 1.25vw;
                font-weight: bold;
            }
            :nth-child(2){
                margin-top: 1vh;
            }
        }
    }
    .buttonApcept{
        margin-left: 8.95vw;
        background-color: #ff6d3b;
        height: 5vh;
        color: white;
        font-weight: bold;
        border-radius: 5px;
        margin-top: 3.333vh;
        cursor: pointer;
    }
}
