.pageSizeSelectionWeb {
    font-family: "Montserrat", sans-serif;
    color: #111e6c;
    margin-top: 3.16vh;
    .link {
        text-decoration: none;
        width: fit-content;
        height: fit-content;
        .iconBack {
            margin-right: 24px;
            color: #ff6d3b;
            font-weight: bold;
            cursor: pointer;
            i {
                font-size: 20px;
            }
            span {
                font-size: 0.97vw;
                margin-top: 3px;
            }
        }
    }
    .link:hover {
        text-decoration: none;
    }
    .bodyScale {
        width: 43.61vw;
        .imageBodySize {
            width: 28.61vw;
            height: 47.33vh;
            img {
                width: 100%;
                height: 100%;
            }
        }
        .inputBody {
            width: 100%;
            margin-top: 2.5vh;
            span {
                font-size: 0.97vw;
                font-weight: bold;
            }
            input {
                font-size: 1.38vw;
                border: 1.5px solid #ff6d3b;
                border-radius: 0;
                width: 13.61vw;
                height: 6.11vh;
                outline: none;
                box-shadow: none;
                text-align: center;
                color: #111e6c;
                font-weight: bold;
            }
            ::placeholder {
                color: #111f6c60;
            }
        }
        .selectionSize {
            width: 100%;
            margin-top: 2.22vh;
            .selection {
                // background-color: #ff6d3b;
                background: #fff4e3;
                color: #ff6d3b;
                font-weight: bold;
                font-size: 1.38vw;
                width: 6.11vw;
                height: 5.55vh;
                border-radius: 15px;
                cursor: pointer;
            }
            .actived {
                background: #ff6d3b !important;
                color: white !important;
            }
        }
        .titleBodyMetric {
            font-size: 0.97vw;
            font-weight: bold !important;
            font-style: italic;
            margin-top: 3px;
        }
    }
    .infoProduct {
        background: #fff4e3;
        border-radius: 10px;
        width: 28.61vw;
        height: 62vh;
        margin-left: 8.95vw;
        margin-top: -1vh;
        padding: 1.5vh 2.77vw 0 2.77vw;
        .info {
            :nth-child(1) {
                font-size: 1.805vw;
                font-weight: bold;
            }
            :nth-child(2) {
                font-size: 1.52vw;
                font-weight: 600;
            }
            :nth-child(3) {
                font-size: 1.25vw;
                font-weight: bold;
                margin-top: 1vh;
            }
            #designDescription_wrapper {
                width: 98%;
                height: 9vh;
                overflow: hidden;
            }
            #designDescription {
                overflow-y: scroll;
                max-height: 8.5vh;
                width: 100%;
                font-size: 0.9vw;
                font-weight: normal;
                padding-right: 0.5vw;
                text-align: justify;
            }
            #fabricDescription_wrapper {
                width: 98%;
                height: 5vh;
                overflow: hidden;
            }
            #fabricDescription {
                overflow-y: scroll;
                width: 100%;
                font-size: 0.9vw;
                font-weight: normal;
                padding-right: 0.5vw;
                text-align: justify;
            }
            #designDescription::-webkit-scrollbar,
            #fabricDescription::-webkit-scrollbar {
                width: 10px;
                background-color: transparent;
            }
            #designDescription::-webkit-scrollbar-thumb,
            #fabricDescription::-webkit-scrollbar-thumb {
                border-radius: 10px;
                background: #ff6d3b;
                // border: 1px solid #aaa;
            }

            :nth-child(5) {
                font-size: 1.25vw;
                font-weight: bold;
                margin-top: 1vh;
            }
            .note {
                display: flex;
                flex-direction: column;
                :nth-child(1) {
                    font-size: 0.9vw;
                    background-color: #111e6c;
                    color: white;
                    padding: 0.2vw 0;
                    border-radius: 5px;
                    width: 4.51vw;
                    text-align: center;
                }
                :nth-child(2) {
                    font-size: 0.9vw;
                    font-weight: normal;
                    margin-top: 0.55vh;
                }
            }
        }
        .changeQuantity {
            margin-top: 1.5vh;
            span {
                font-size: 1.25vw;
                font-weight: bold;
            }
            .quantity {
                .anticon {
                    vertical-align: 0;
                }
                i {
                    background-color: #ff6d3b;
                    cursor: pointer;
                    padding: 0.2vw;
                    font-size: 0.97vw;
                    color: white;
                    border-radius: 2px;
                }
                span {
                    width: 4vw;
                    text-align: center;
                    border: none;
                    color: #ff6d3b;
                    font-weight: bold;
                    font-size: 1.52vw;
                    background-color: transparent;
                }
            }
        }
        .total {
            margin-top: 1.5vh;
            margin-left: 6.11vw;
            :nth-child(1),
            :nth-child(2) {
                font-size: 1.25vw;
                font-weight: bold;
            }
            :nth-child(2) {
                margin-top: 1vh;
            }
        }
    }
    .buttonApcept {
        margin-left: 8.95vw;
        background-color: #ff6d3b;
        height: 5vh;
        color: white;
        font-weight: bold;
        font-size: 1.38vw;
        border-radius: 5px;
        margin-top: 2.08vh;
        cursor: pointer;
    }
}
.success_wrapper {
    position: fixed;
    bottom: -100px;
    height: 0;
    width: 100vw;
    background-color: #ff6d3b;
    margin: 0 -5.69vw;
    padding: 0 13.88vw 0 5.69vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    -webkit-transition: height 0.35s ease-in-out;
    transition: height 0.35s ease-in-out;
    span {
        color: white;
        font-weight: bold;
        font-size: 1.38vw;
    }
    a {
        width: fit-content;
        height: fit-content;
        text-decoration: none;
        .right {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
    }
    a:hover {
        text-decoration: none;
    }
}
.success_show {
    bottom: 0;
    height: 10.88vh;
    -webkit-transition: height 0.35s ease-in-out;
    transition: height 0.35s ease-in-out;
}
