.c-admin-image-upload-selection {
    /* Display & Box Model */
    @include flexBox(flex-start, center, column);
    @include box(30rem, 75rem);
    margin-right: 5rem;
    /* Color */

    /* Text */

    /* Positioning */

    /* Others: transition & animations, ... */

    &__option {
        /* Display & Box Model */
        @include box(100%, auto);
        padding: 3.7rem 0;
        min-height: 12.6rem;
        /* Color */

        /* Text */

        /* Positioning */

        /* Others: transition & animations, ... */
    }

    &__button {
        /* Display & Box Model */
        padding: 1.5rem 2rem;
        margin-right: 1.5rem;
        border-radius: 15px;
        border: 3px solid $--border-primary;
        /* Color */
        background-color: $--bg-default;
        color: $--text-passive;
        /* Text */
        @include font(fontBold, 1.6rem);
        /* Positioning */

        /* Others: transition & animations, ... */

        &--active {
            /* Display & Box Model */
            border: none;
            /* Color */
            background-color: $--bg-active;
            color: $--text-active;
            /* Text */

            /* Positioning */

            /* Others: transition & animations, ... */
        }
    }

    &__search {
        /* Display & Box Model */
        @include box(100%, 5rem);
        @include centerFlexBox();
        margin-top: 1.5rem;
        border-radius: 1.5rem;
        padding: 1.5rem 4rem;
        /* Color */
        background-color: $--gray4-color;
        /* Text */

        /* Positioning */

        /* Others: transition & animations, ... */

        & > img {
            /* Display & Box Model */
            @include box(1.8rem);
            margin-right: 1.1rem;
            /* Color */

            /* Text */

            /* Positioning */

            /* Others: transition & animations, ... */
        }

        & > input {
            /* Display & Box Model */
            border: none;
            box-shadow: none;
            outline: none;
            width: 19rem;
            /* Color */
            background: transparent;
            color: #828282;
            /* Text */
            @include font(fontBold, 1.6rem);
            /* Positioning */

            /* Others: transition & animations, ... */
        }
    }

    &__list {
        /* Display & Box Model */
        width: 100%;
        height: calc(100% - 30rem);
        display: flex;
        flex-wrap: wrap;
        margin-right: -0.5rem;
        margin-top: 2rem;
        overflow-x: hidden;
        overflow-y: scroll;
        &::-webkit-scrollbar {
            width: 0;
            background-color: $--primary-color;
        }
        &::-webkit-scrollbar-thumb {
            border-radius: 10px;
            background: $--primary-color;
        }
        /* Color */

        /* Text */

        /* Positioning */

        /* Others: transition & animations, ... */
    }

    &__item {
        /* Display & Box Model */
        width: calc(33.333% - 0.5rem);
        height: fit-content;
        // min-width: 7rem;
        // min-height: 3.8rem;
        padding: 1rem 0.5rem;
        margin-right: 0.5rem;
        margin-bottom: 1rem;
        border: 1px solid #828282;
        border-radius: 10px;
        cursor: pointer;
        /* Color */

        /* Text */
        @include font(fontSemiBold, 1.3rem);
        text-align: center;
        /* Positioning */

        /* Others: transition & animations, ... */
        transition: all 0.2s ease-in-out;

        &--fullfilled {
            /* Display & Box Model */
            border: 1px solid $--border-primary;
            /* Color */
            color: $--text-passive;
            /* Text */

            /* Positioning */

            /* Others: transition & animations, ... */
        }

        &--selected {
            /* Display & Box Model */

            /* Color */
            color: $--text-active;
            background-color: #828282;
            /* Text */

            /* Positioning */

            /* Others: transition & animations, ... */
        }

        &:hover {
            /* Display & Box Model */
            border: none;
            /* Color */
            color: $--text-active;
            background-color: #828282;
            /* Text */

            /* Positioning */

            /* Others: transition & animations, ... */
        }
    }
}
