.spinner_wrapper {
    background-color: #fcbd89;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    // .lds-ripple {
    //     display: inline-block;
    //     position: relative;
    //     width: 100px;
    //     height: 100px;
    // }
    // .lds-ripple div {
    //     position: absolute;
    //     border: 4px solid #fff;
    //     opacity: 1;
    //     border-radius: 50%;
    //     animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
    // }
    // .lds-ripple div:nth-child(2) {
    //     animation-delay: -0.5s;
    // }

    #fountainTextG {
        margin: auto;
    }

    .fountainTextG {
        color: #111e6c;
        font-family: "Montserrat", sans-serif !important;
        font-size: 3.22vw;
        text-decoration: none;
        font-weight: normal;
        font-style: normal;
        float: left;
        animation-name: bounce_fountainTextG;
        -o-animation-name: bounce_fountainTextG;
        -ms-animation-name: bounce_fountainTextG;
        -webkit-animation-name: bounce_fountainTextG;
        -moz-animation-name: bounce_fountainTextG;
        animation-duration: 2.09s;
        -o-animation-duration: 2.09s;
        -ms-animation-duration: 2.09s;
        -webkit-animation-duration: 2.09s;
        -moz-animation-duration: 2.09s;
        animation-iteration-count: infinite;
        -o-animation-iteration-count: infinite;
        -ms-animation-iteration-count: infinite;
        -webkit-animation-iteration-count: infinite;
        -moz-animation-iteration-count: infinite;
        animation-direction: normal;
        -o-animation-direction: normal;
        -ms-animation-direction: normal;
        -webkit-animation-direction: normal;
        -moz-animation-direction: normal;
        transform: scale(0.5);
        -o-transform: scale(0.5);
        -ms-transform: scale(0.5);
        -webkit-transform: scale(0.5);
        -moz-transform: scale(0.5);
    }
    #fountainTextG_1 {
        animation-delay: 0.75s;
        -o-animation-delay: 0.75s;
        -ms-animation-delay: 0.75s;
        -webkit-animation-delay: 0.75s;
        -moz-animation-delay: 0.75s;
    }
    #fountainTextG_2 {
        animation-delay: 0.9s;
        -o-animation-delay: 0.9s;
        -ms-animation-delay: 0.9s;
        -webkit-animation-delay: 0.9s;
        -moz-animation-delay: 0.9s;
    }
    #fountainTextG_3 {
        animation-delay: 1.05s;
        -o-animation-delay: 1.05s;
        -ms-animation-delay: 1.05s;
        -webkit-animation-delay: 1.05s;
        -moz-animation-delay: 1.05s;
    }
    #fountainTextG_4 {
        animation-delay: 1.2s;
        -o-animation-delay: 1.2s;
        -ms-animation-delay: 1.2s;
        -webkit-animation-delay: 1.2s;
        -moz-animation-delay: 1.2s;
    }
    #fountainTextG_5 {
        animation-delay: 1.35s;
        -o-animation-delay: 1.35s;
        -ms-animation-delay: 1.35s;
        -webkit-animation-delay: 1.35s;
        -moz-animation-delay: 1.35s;
    }
    #fountainTextG_6 {
        animation-delay: 1.5s;
        -o-animation-delay: 1.5s;
        -ms-animation-delay: 1.5s;
        -webkit-animation-delay: 1.5s;
        -moz-animation-delay: 1.5s;
    }
    #fountainTextG_7 {
        animation-delay: 1.65s;
        -o-animation-delay: 1.65s;
        -ms-animation-delay: 1.65s;
        -webkit-animation-delay: 1.65s;
        -moz-animation-delay: 1.65s;
    }
    #fountainTextG_8 {
        animation-delay: 1.80s;
        -o-animation-delay: 1.80s;
        -ms-animation-delay: 1.80s;
        -webkit-animation-delay: 1.80s;
        -moz-animation-delay: 1.80s;
    }
    #fountainTextG_9 {
        animation-delay: 1.95s;
        -o-animation-delay: 1.95s;
        -ms-animation-delay: 1.95s;
        -webkit-animation-delay: 1.95s;
        -moz-animation-delay: 1.95s;
    }
    #fountainTextG_10 {
        animation-delay: 2.1s;
        -o-animation-delay: 2.1s;
        -ms-animation-delay: 2.1s;
        -webkit-animation-delay: 2.1s;
        -moz-animation-delay: 2.1s;
    }
    #fountainTextG_11 {
        animation-delay: 2.24s;
        -o-animation-delay: 2.24s;
        -ms-animation-delay: 2.24s;
        -webkit-animation-delay: 2.24s;
        -moz-animation-delay: 2.24s;
    }

    @keyframes bounce_fountainTextG {
        0% {
            transform: scale(1);
            color: #ff6d3b;
        }

        100% {
            transform: scale(0.5);
            color: #111e6c;
        }
    }

    @-o-keyframes bounce_fountainTextG {
        0% {
            -o-transform: scale(1);
            color: #ff6d3b;
        }

        100% {
            -o-transform: scale(0.5);
            color: #111e6c;
        }
    }

    @-ms-keyframes bounce_fountainTextG {
        0% {
            -ms-transform: scale(1);
            color: #ff6d3b;
        }

        100% {
            -ms-transform: scale(0.5);
            color: #111e6c;
        }
    }

    @-webkit-keyframes bounce_fountainTextG {
        0% {
            -webkit-transform: scale(1);
            color: #ff6d3b;
        }

        100% {
            -webkit-transform: scale(0.5);
            color: #111e6c;
        }
    }

    @-moz-keyframes bounce_fountainTextG {
        0% {
            -moz-transform: scale(1);
            color: #ff6d3b;
        }

        100% {
            -moz-transform: scale(0.5);
            color: #111e6c;
        }
    }
}
// @keyframes lds-ripple {
//     0% {
//         top: 36px;
//         left: 36px;
//         width: 0;
//         height: 0;
//         opacity: 1;
//     }
//     100% {
//         top: 0px;
//         left: 0px;
//         width: 72px;
//         height: 72px;
//         opacity: 0;
//     }
// }
