.c-size-info {
    /* Display & Box Model */
    display: flex;
    padding: 0 2rem;
    /* Color */

    /* Text */
    
    /* Positioning */
    
    /* Others: transition & animations, ... */
    
    &--left {
        /* Display & Box Model */
        @include flexBox(space-between, center, column);
        @include box(50%, auto);
        /* Color */
    
        /* Text */
        
        /* Positioning */
    
        /* Others: transition & animations, ... */
    
    }
    &__name {
        /* Display & Box Model */
        margin-bottom: 1.3rem;
        /* Color */
    
        /* Text */
        @include font(fontBold, 1.6rem);
        text-align: center;
        /* Positioning */
    
        /* Others: transition & animations, ... */
    
    }
    &--right {
        /* Display & Box Model */
        @include flexBox(flex-end, flex-end);
        @include box(50%, auto);
        /* Color */
    
        /* Text */
    
        /* Positioning */
    
        /* Others: transition & animations, ... */
    
    }
    &__quantity {
        /* Display & Box Model */
        padding: 3.3rem 0 0.5rem;
        /* Color */
    
        /* Text */
    
        /* Positioning */
    
        /* Others: transition & animations, ... */
    
    }
}
@media screen and (min-width: 769px) {
    .c-size-info {
        /* Display & Box Model */
        @include flexBox(space-between, flex-end);
        flex-direction: row-reverse;
        padding: 0;
        @include box(41.4rem, auto);
        /* Color */
        /* Text */
    
        /* Positioning */
    
        /* Others: transition & animations, ... */
        &--left {
            /* Display & Box Model */
            @include flexBox(flex-start, flex-end, column);
            width: 28rem;
            /* Color */
        
            /* Text */
        
            /* Positioning */
        
            /* Others: transition & animations, ... */
        
        }
        &__name {
            /* Display & Box Model */
            margin-bottom: 1.5rem;
            width: 27rem;
            /* Color */
            color: $--text-default;
            /* Text */
            font-size: 2rem;
            text-align: right;
            /* Positioning */
        
            /* Others: transition & animations, ... */
        
        }
        &--right {
            /* Display & Box Model */
            width: auto;
            height: 7.1rem;
            // margin-right: 12.2rem;
            /* Color */
        
            /* Text */
        
            /* Positioning */
        
            /* Others: transition & animations, ... */
        
        }
        &__quantity {
            /* Display & Box Model */
            padding: 0;
            /* Color */
        
            /* Text */
        
            /* Positioning */
        
            /* Others: transition & animations, ... */
        
        }
    }
}