.c-navbar-selection {
    /* Display & Box Model */
    @include flexBox(space-between, center);
    height: 6rem;
    border-radius: 0px 0px 2rem 2rem;
    padding: 0 2rem;
    /* Color */
    background-color: $--bg-active;
    /* Text */

    /* Positioning */

    /* Others: transition & animations, ... */
    &__back {
        /* Display & Box Model */
        @include box(3.5rem);
        /* Color */
    
        /* Text */
    
        /* Positioning */
    
        /* Others: transition & animations, ... */
    
    }
    &__title {
        /* Display & Box Model */
    
        /* Color */
        color: $--text-active;
        /* Text */
        @include font(fontBold,1.6rem);
        /* Positioning */
    
        /* Others: transition & animations, ... */
    
    }
}