.c-selection-desc {
    /* Display & Box Model */
    margin-top: 5.6rem;
    /* Color */
    color: $--text-passive;
    /* Text */

    /* Positioning */

    /* Others: transition & animations, ... */

    &__wrapper:last-child {
        /* Display & Box Model */
        margin-top: 1.5rem;
        /* Color */
    
        /* Text */
    
        /* Positioning */
    
        /* Others: transition & animations, ... */
    
    }
    &__title {
        /* Display & Box Model */
        display: inline-block;
        width: 100%;
        /* Color */
    
        /* Text */
        @include font(fontBold, 1.6rem);
        text-transform: capitalize;
        text-align: center;
        /* Positioning */
    
        /* Others: transition & animations, ... */
    
    }
    &__text {
        /* Display & Box Model */
        margin-top: 1.5rem;
        /* Color */
    
        /* Text */
        @include font(fontMedium, 1.4rem);
        /* Positioning */
    
        /* Others: transition & animations, ... */
    
    }
}
@media screen and (min-width: 769px){
    .c-selection-desc {
        /* Display & Box Model */
        @include flexBox();
        padding: 0 7rem;
        /* Color */
    
        /* Text */
    
        /* Positioning */
    
        /* Others: transition & animations, ... */
        &__wrapper:nth-child(1){
            width: 45%;
        }
        &__wrapper:nth-child(2){
            width: 45%;
            margin-top: 0;
            margin-left: 10%;
        }
        &__title {
            /* Display & Box Model */
        
            /* Color */
        
            /* Text */
            font-size: 2rem;
            /* Positioning */
        
            /* Others: transition & animations, ... */
        
        }
        &__text {
            /* Display & Box Model */
        
            /* Color */
        
            /* Text */
            font-size: 1.8rem;
            /* Positioning */
        
            /* Others: transition & animations, ... */
        
        }
    }
}