.tailorwingNewExp_wrapper {
    font-family: "Montserrat", sans-serif !important;
    .colorOrange {
        color: #ff6d3b !important;
    }
    .colorBlue {
        color: #111e6c !important;
    }
    .logoHederPage {
        margin-top: 2.69vh;
        width: 24vw;
    }
    img {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
    .contentFirst_wrapper {
        margin-top: 7.49vh;
        .image_contentFirst {
            width: 100vw;
        }
    }
    .contentSecond_wrapper {
        margin-top: 7.49vh;
        .imageContentSecond {
            width: 100vw;
            img{
                object-fit: fill;
            }
        }
    }
    .contentThird_wrapper {
        margin-top: 7.49vh;
        .text1_contentThird{
            text-align: center;
            font-weight: bold;
            font-size: 6.93vw;
            margin-bottom: 4.49vh;
        }
        .step {
            width: 100vw;
        }
    }
    .contentFour {
        margin-top: 6.59vh;
        .image {
            width: 100vw;
            height: 60.13vh;
            padding-left: 7.2vw;
            padding-right: 7.73vw;
        }
        .content {
            position: absolute;
            margin-top: 38.77vh;
            margin-left: 52vw;
            .text_Content {
                font-weight: bold;
                font-size: 6.4vw;
            }
            .button {
                background: #ff6d3b;
                border-radius: 40px;
                color: white;
                width: 50.66vw;
                text-align: center;
                font-weight: bold;
                padding: 1.5vh 0;
                margin-left: -7vw;
            }
        }
    }
    .footerPage {
        background: #ff6d3b;
        border-radius: 40px 40px 0px 0px;
        width: 100vw;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 5.99vh;
        .iconSVG {
            margin-top: 4.49vh;
            svg{
                width: 18.13vw;
            }
        }
        .contentFooter {
            text-align: center;
            font-size: 4.26vw;
            margin-top: 2.24vh;
            font-weight: bold;
        }
        .inputInfo {
            margin-top: 4.04vh;
            .ant-input {
                box-shadow: none;
                width: 73.33vw;
                background: #fff4e3;
                border-radius: 10px;
                font-size: 4.26vw;
                color: #111e6c;
                height: 6.74vh;
            }
            .ant-input:hover {
                border: none;
            }
            :nth-child(3) {
                margin-top: 2.24vh;
            }
            ::placeholder {
                color: #ffa45c;
            }
        }
        .buttonAccept {
            text-align: center;
            color: #ff6d3b;
            font-weight: bold;
            background-color: white;
            width: 73.33vw;
            border-radius: 10px;
            padding: 2vh 0;
            margin-top: 4.19vh;
            margin-bottom: 8.99vh;
            cursor: pointer
        }
    }
    .error {
        color: white;
    }
    .errorUnvisible {
        display: none;
    }
}
@media only screen and (min-width: 1100px) {
    .tailorwingNewExp_wrapper{
        .logoHederPage {
            margin-top: 2.69vh;
            width: 10vw;
        }
        .image_contentFirst{
            width: 34vw !important;
        }
        .imageContentSecond{
            width: 37vw !important;
        }
        .text1_contentThird{
            font-size: 3.22vw !important;
        }
        .step{
            width: 35vw !important;
        }
        .contentFour{
            .image{
                height: auto !important;
                padding: 0 !important;
                width: 35vw;
            }
            .content{
                margin-left: 20vw;
                margin-top: 62vh;
                .text_Content{
                    font-size: 2.22vw;
                }
                .button{
                    width: 20vw;
                    margin-left: -5vw;
                    cursor: pointer;
                }
            }
        }
        .footerPage{
            .iconSVG{
                svg{
                    width: 7vw !important;
                }
            }
            .contentFooter{
                font-size: 1.38vw;
            }
            .inputInfo{
                .ant-input{
                    width: 35vw !important;
                }
            }
            .buttonAccept{
                cursor: pointer;
                width: 35vw;
            }
        }
    }
}