.c-home-introduction {
    /* Display & Box Model */
    padding-top: 2rem;
    /* Color */
    
    /* Text */
    color: $--text-passive;
    text-align: center;
    /* Positioning */
    
    /* Others: transition & animations, ... */
    &__title {
        /* Display & Box Model */
        
        /* Color */
        color: $--text-passive;
        /* Text */
        @include font(fontHeavy, 2.4rem) /* Positioning */
        /* Others: transition & animations, ... */;
    }
    &__sub-title {
        /* Display & Box Model */
        padding: 0 5.3rem;
        margin-top: 1rem;
        /* Color */
        
        /* Text */
        @include font(fontNormal, 1.4rem);
        line-height: 1.5rem;
        /* Positioning */
        
        /* Others: transition & animations, ... */
    }
    &__list {
        /* Display & Box Model */
        @include flexBox(center, center, row, wrap);
        margin-top: 0.6rem;
        /* Color */
        
        /* Text */
        
        /* Positioning */
        
        /* Others: transition & animations, ... */
        
        @import "./IntroItem/introItem.scss";
    }
}
@media screen and(min-width: 1280px){
    .c-home-introduction {
        /* Display & Box Model */
        padding-top: 5rem;
        /* Color */
    
        /* Text */
    
        /* Positioning */
    
        /* Others: transition & animations, ... */
        &__title {
            /* Display & Box Model */
        
            /* Color */
        
            /* Text */
            font-size: 3.6rem;
            /* Positioning */
        
            /* Others: transition & animations, ... */
        
        }
        &__sub-title {
            /* Display & Box Model */
            margin-top: 2.5rem;
            padding: 0 40.5rem;
            /* Color */
        
            /* Text */
            font-size: 1.8rem;
            /* Positioning */
        
            /* Others: transition & animations, ... */
        
        }
        &__list {
            /* Display & Box Model */
            margin-top: 3rem;
            /* Color */
        
            /* Text */
        
            /* Positioning */
        
            /* Others: transition & animations, ... */
        
        }
    }
}
