.l-designs {
    /* Display & Box Model */
    @include box(100%);
    /* Color */

    /* Text */

    /* Positioning */

    /* Others: transition & animations, ... */

    &__options {
        /* Display & Box Model */
        padding-top: 2.5rem;
        /* Color */
    
        /* Text */
    
        /* Positioning */
    
        /* Others: transition & animations, ... */
    
    }
    &__list {
        /* Display & Box Model */
        padding: 0 2rem;
        /* Color */
    
        /* Text */
    
        /* Positioning */
    
        /* Others: transition & animations, ... */
    
    }
}
@media screen and (min-width: 769px){
    .l-designs {
        /* Display & Box Model */
        max-width: 128rem;
        height: auto;
        margin: 0 auto;
        /* Color */
    
        /* Text */
    
        /* Positioning */
    
        /* Others: transition & animations, ... */
        &__list {
            padding: 0 7rem;
            .c-designs__title{
                text-align: left;
            }
        }
    }
}