@media screen and (min-width: 769px) {
    .l-information {
        /* Display & Box Model */
        max-width: 128rem;
        height: auto;
        margin: 0 auto;
        /* Color */

        /* Text */

        /* Positioning */

        /* Others: transition & animations, ... */
    }
}
