.c-home-collections {
    /* Display & Box Model */
    padding-top: 4.1rem;
    padding-bottom: 4.4rem;
    padding-left: 2rem;
    padding-right: 2rem;
    /* Color */

    /* Text */

    /* Positioning */

    /* Others: transition & animations, ... */
    &__title {
        /* Display & Box Model */
    
        /* Color */
        color: $--text-passive;
        /* Text */
        @include font(fontHeavy, 2.4rem);
        line-height: 2.5rem;
        /* Positioning */
    
        /* Others: transition & animations, ... */
    
    }
    @import "./CollectionItem/collectionItem.scss";

    .slick-current {
        width: 65vw !important;
    }
    .slick-slide {
        transition: width 0.5s linear !important;
    }
}