.c-size-product-images {
    /* Display & Box Model */
    @include flexBox(center, center, column);
    padding: 4.7rem 2.3rem 0;
    /* Color */

    /* Text */

    /* Positioning */

    /* Others: transition & animations, ... */

    &__list {
        /* Display & Box Model */
        margin-right: -1.6rem;
        margin-bottom: 4rem;
        /* Color */

        /* Text */

        /* Positioning */

        /* Others: transition & animations, ... */
    }

    &__item {
        /* Display & Box Model */
        @include box(15.6rem);
        display: inline-block;
        margin-right: 1.6rem;
        margin-bottom: 1.6rem;
        border-radius: 1.5rem;
        overflow: hidden;
        object-fit: contain;
        /* Color */

        /* Text */

        /* Positioning */

        /* Others: transition & animations, ... */
    }
}
@media screen and (min-width: 769px) {
    .c-size-product-images {
        /* Display & Box Model */
        @include box(41.4rem, auto);
        padding: 0;
        margin-top: 3rem;
        /* Color */
    
        /* Text */
    
        /* Positioning */
    
        /* Others: transition & animations, ... */
        &__list {
            /* Display & Box Model */
            @include box(41.4rem);
            margin: 0;
            @include flexBox(space-between, flex-start, row, wrap);
            /* Color */
        
            /* Text */
        
            /* Positioning */
        
            /* Others: transition & animations, ... */
        
        }
        &__item {
            /* Display & Box Model */
            @include box(19.69rem);
            margin: 0;
            /* Color */
        
            /* Text */
        
            /* Positioning */
        
            /* Others: transition & animations, ... */
            &:nth-child(1){
                margin-bottom: 2rem;
            }
        }
        &__confirm {
            /* Display & Box Model */
            margin-top: 3rem;
            /* Color */
        
            /* Text */
        
            /* Positioning */
        
            /* Others: transition & animations, ... */
        
        }
    }
}
