.pageMyCart-wraper {
    font-family: "Montserrat", sans-serif;
    height: 100%;
    .anticon {
        vertical-align: 0 !important;
    }
    .navbarHeader {
        padding: 0 32px;
        width: 100vw;
        height: 11.24vh;
        background-color: #fff4e3;
        color: #ff6d3b;
        font-family: "Montserrat", sans-serif;
        // top: 0;
        // position: fixed;
        // z-index: 1;
        i {
            font-size: 21px;
        }
        .divClone {
            width: 21px;
        }
        .titleHeader {
            color: #111e6c;
            font-size: 5.86vw;
            font-weight: bold;
            width: 60.33vw;
        }
    }
    .product {
        margin-top: 25px;
        padding: 0 32px;
        .left {
            .image {
                width: 32vw;
                height: auto;
                img {
                    width: 100%;
                    height: 100%;
                    object-fit: fill;
                }
            }
            .buttonWishList {
                background-color: #fff4e3;
                color: #ff6d3b;
                height: 36px;
                margin-top: 9px;
            }
        }
        .right {
            width: 100%;
            padding-left: 4vw;
            .content-wraper {
                color: #111e6c;
                height: 100%;
                padding-bottom: 1vh;
                .iconDelete {
                    color: #ff6d3b;
                }
                .contentHead {
                    :nth-child(1) {
                        font-size: 3.2vw;
                        font-weight: bold;
                    }
                    :nth-child(2) {
                        font-size: 3.2vw;
                    }
                }
                .bodyMetric {
                    font-size: 3.2vw;
                    line-height: 20px;
                    :nth-child(1) {
                        button {
                            color: #ff6d3b;
                            font-size: 8px;
                            font-weight: bold;
                            background: #fff4e3;
                            height: 18px;
                            width: 71px;
                            border: none;
                            border-radius: 0;
                        }
                    }

                    :nth-child(3) {
                        :nth-child(2) {
                            font-weight: bold;
                        }
                    }
                }
            }
        }
        .changeQuantity {
            height: 36px;
            background-color: #fff4e3;
            color: #ff6d3b;
            .ant-select {
                .ant-select-selection {
                    background-color: transparent;
                    border: none;
                    color: #ff6d3b;
                    font-size: 16px;
                    outline: none;
                    box-shadow: none;
                    i {
                        color: #ff6d3b;
                    }
                }
            }
        }
    }
    .checkOutFixBottom {
        position: fixed;
        bottom: 0;
        width: 100vw;
        height: 18vh;
        background-color: white;
        padding: 0 32px;
        .title {
            color: #111e6c;
            font-size: 5.3vw;
            font-weight: 600;
            margin-top: 10px;
        }
        .button {
            height: 45px;
            background-color: #ff6d3b;
            color: white;
            font-size: 4.8vw;
            margin-top: 10px;
            border-radius: 8px;
            i {
                margin-left: 25px;
            }
        }
    }
}
.ant-modal-content {
    font-family: "Montserrat", sans-serif;
    .ant-modal-header {
        height: 56px;
        background-color: #fff4e3;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        .ant-modal-title {
            color: #111e6c;
            font-weight: bold;
        }
    }
    .ant-modal-close-x{
        color: #ff6d3b;
        .anticon{
            vertical-align: .0;
        }
    }
    .ant-modal-body {
        .changeSelection_wrapper {
            width: 100%;
            color: #111e6c !important;
            .sizeSelection {
                width: 100%;
                .col-2 {
                    padding: 0 6px !important;
                }
                .titleSize {
                    color: #ff6d3b;
                    font-size: 14px;
                    background: #fff4e3;
                    padding: 6px 0;
                    border-radius: 5px;
                    font-weight: 600;
                    cursor: pointer;
                    a {
                        width: 100%;
                        height: 100%;
                    }
                }
                .actived {
                    background: #ff6d3b !important;
                    color: white !important;
                }
            }
            .scaleBody {
                .title__scaleBody {
                    font-size: 14px;
                    text-align: center;
                    font-weight: 500;
                    line-height: 1.4;
                    margin-top: 2.69vh;
                }
                .inputScale {
                    margin-top: 1.34vh;
                    .col-4 {
                        padding: 0 7.5px;
                    }
                    span {
                        font-size: 12px;
                        font-weight: bold;
                    }
                    .ant-input {
                        border: none;
                        color: #ffa45c !important;
                        border-radius: 0;
                        border-left: 1.2px solid #ffa45c;
                        padding: 2px 11px !important;
                    }
                    ::placeholder {
                        color: #ffa45c !important;
                    }
                    .inputBodyScale {
                        padding-bottom: 3px;
                        border-bottom: 0.1px solid #ff6d3b;
                    }
                }
            }
        }
    }
    .ant-modal-footer{
        :nth-child(1){
            :nth-child(2){
                background-color: #ff6d3b;
                border: none;
                box-shadow: none;
            }
        }
        .ant-btn:focus {
            background: #ff6d3b !important;
            border: none !important;
            box-shadow: none;
        }
    }
    .ant-btn:focus {
        background: #fff4e3 !important;
        border: none !important;
    }

    .error {
        color: red;
        font-family: "Be Vietnam", sans-serif;
    }
    .errorUnvisible {
        display: none;
    }
}
