.imageView-wrapper {
    width: 100%;
    height: 100%;
    padding: 0 33vw;
    .image-wraper {
        width: 100%;
        height: fit-content;
        img {
            width: 100%;
            height: 100%;
        }
    }
}
