.imageView-wrapper {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    background-color: black;
    .back-btn {
        position: fixed;
        top: 0;
        width: 100vw;
    }
    .slick-slider {
        width: 68vh;
        height: 85vh;
        .slick-arrow::before {
            color: #ff6d3b;
        }
        .slick-prev::before,
        .slick-next::before {
            font-size: 2vw;
        }
        .slick-prev,
        .slick-next {
            width: fit-content !important;
            height: fit-content !important;
            margin: 0 -5vw;
        }
        .image-wrapper {
            width: 68vh;
            height: 85vh;
            background-color: orange;
            img {
                width: 68vh;
                height: 85vh;
            }
        }
    }
    .anticon {
        vertical-align: 0;
    }
    .ant-btn:hover {
        color: #ff6d3b !important;
        background-color: transparent;
        opacity: 1;
    }
    .ant-btn:focus {
        color: #ff6d3b !important;
        outline: none;
        box-shadow: none;
    }
    .buttonBack {
        top: 0;
        margin-top: 1vh;
        margin-right: 2vw;
        font-size: 2.22vw !important;
        height: 7vh !important;
        background-color: transparent;
        border: none;
        color: #ff6d3b;
        opacity: 0.7;
    }
}
