.admin-sidebar {
    /* Positioning */
    position: fixed;
    top: 5.98vh;
    /* Display & Box Model */
    width: 17.57vw;
    height: 77.8vh;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.05);
    border-radius: 0px 30px 30px 0px;
    /* Color */
    background-color: white;
    /* Text */
    /* Others: transition & animations, ... */
    &__logo {
        /* Positioning */
        /* Display & Box Model */
        /* Color */
        /* Text */
        /* Others: transition & animations, ... */
        &--imageSvg {
            /* Positioning */
            /* Display & Box Model */
            margin-top: 3.74vh;
            margin-bottom: 5.43vh;
            /* Color */
            /* Text */
            /* Others: transition & animations, ... */
        }
        hr {
            /* Positioning */
            /* Display & Box Model */
            width: 17.57vw;
            border-top: 1px solid #e5e5e5;
            margin: 0;
            padding: 0;
            /* Color */
            /* Text */
            /* Others: transition & animations, ... */
        }
    }
    &__menu {
        /* Positioning */
        /* Display & Box Model */
        margin-top: 2.618vh;
        /* Color */
        /* Text */
        /* Others: transition & animations, ... */
        &__item-wrapper {
            /* Positioning */
            /* Display & Box Model */
            width: 11.32vw;
            height: 6.23vh;
            border-radius: 10px;
            padding-left: 1.308vw;
            margin-top: 4.364vh;
            /* Color */
            color: #ff6d3b;
            /* Text */
            font-weight: bold;
            font-size: 0.97vw;
            /* Others: transition & animations, ... */
            cursor: pointer;
            &--content {
                /* Positioning */
                /* Display & Box Model */
                margin-left: 0.781vw;
                /* Color */
                /* Text */
                /* Others: transition & animations, ... */
            }
            &--active {
                /* Positioning */
                /* Display & Box Model */
                /* Color */
                background: #fff4e3;
                /* Text */
                /* Others: transition & animations, ... */
            }
        }
        :hover {
            /* Positioning */
            /* Display & Box Model */
            /* Color */
            background: #fff4e3;
            /* Text */
            /* Others: transition & animations, ... */
        }
    }
    &__account {
        /* Positioning */
        /* Display & Box Model */
        width: 100%;
        margin-top: 5vh;
        /* Color */
        /* Text */
        /* Others: transition & animations, ... */
        &__avatar {
            /* Positioning */
            /* Display & Box Model */
            width: 2.51vw;
            height: 2.51vw;
            border-radius: 50%;
            margin-left: 3.28vw;
            /* Color */
            background-color: #ffedef;
            /* Text */
            /* Others: transition & animations, ... */
        }
        &__name {
            /* Positioning */
            /* Display & Box Model */
            margin-left: 0.625vw;
            /* Color */
            /* Text */
            font-weight: bold;
            font-size: 0.9vw;
            /* Others: transition & animations, ... */
        }
    }
}
