.c-selection-info {
    /* Display & Box Model */
    @include flexBox(center, center, column);
    margin-top: 2rem;
    /* Color */

    /* Text */

    /* Positioning */

    /* Others: transition & animations, ... */

    &__name {
        /* Display & Box Model */
        margin-top: 1.9rem;
        /* Color */
        color: $--text-blur;
        /* Text */
        @include font(fontSemiBold, 1.8rem);
        /* Positioning */
    
        /* Others: transition & animations, ... */
    
    }
    &__designed-by {
        /* Display & Box Model */
        margin-top: 1rem;
        /* Color */
    
        /* Text */
        @include font(fontBold, 1.8rem);
        /* Positioning */
    
        /* Others: transition & animations, ... */
    
    }
    &__confirm-button {
        /* Display & Box Model */
        margin-top: 2rem;
        /* Color */
    
        /* Text */
    
        /* Positioning */
    
        /* Others: transition & animations, ... */
    
    }
}