.pageFabricsAdjustment {
    padding: 1% 2%;
    background-color: #fdecdc;
    height: 90vh;
    .buttonAddFabrics {
        // padding: 10px 27px;
        border: none;
        background-color: #fc9d4e;
        color: white;
        border-radius: 30px;
        margin-right: 1.5%;
        font-weight: bold;
    }
    .fabricsAdjustment {
        .ant-upload-picture-card-wrapper {
            width: 35vw !important;
        }
        .ant-upload-select-picture-card i {
            font-size: 32px;
            color: #999;
        }

        .ant-upload-select-picture-card .ant-upload-text {
            color: #666;
        }
        .ant-upload-list-picture-card-container {
            margin: 0;
            margin-right: 10px;
        }
        .ant-upload.ant-upload-select-picture-card {
            margin: 0;
        }
        .inputContentHeader {
            padding: 5px !important;
            background-color: white;
            margin-top: 10px;
            border-radius: 8px;
        }
        .inputNameFabrics {
            margin-right: 3.5%;
            p.d-flex.flex-row.align-items-center {
                margin: 0;
                font-weight: bold;
                margin-right: 15px;
            }
            .inputName {
                input {
                    font-size: 12px;
                    width: 25vw;
                    border-radius: 7px;
                    border-color: #fc9d4e;
                }
            }
        }
        .inputContentBody {
            .inputFabricsID,
            .inputSupplier,
            .inputPrice,
            .inputQuantity,
            .inputType,
            .inputUnit,
            .inputDescription,
            .inputFabricType,
            .inputOrigin {
                margin-top: 20px;
            }
            p.d-flex.flex-row.align-items-center {
                margin: 0;
                font-weight: bold;
                margin-right: 15px;
                width: 78px;
            }
            input {
                font-size: 12px;
                width: 20vw;
                border-radius: 7px;
                border-color: #fc9d4e;
            }
            .inputDescription {
                textarea.ant-input {
                    border-color: #fc9d4e;
                    border-radius: 8px;
                }
            }
        }
    }
}

.ant-message-custom-content {
    display: flex;
    justify-content: center;
    align-items: center;
}
