.pageFabrics {
    padding: 2%;
    background-color: #fdecdc;
    height: 90vh;
    .column1{
      width: 11%;
    }
    .column2{
      width: 29%;
    }
    .column3{
      width: 8%;
    }
    .column4{
      width: 16%;
    }
    .column5{
      width: 12%;
    }
    .column6{
      width: 17%;
    }
    .column7{
      width: 5%;
    }
    .column1,.column2,.column3,.column4,.column5,.column6,.column7{
      padding: 0 5px;
    }
    a {
      text-decoration: none !important;
    }
    p{
      margin: 0;
    }
    .buttonAddFabrics {
      padding: 10px 20px;
      border: none;
      background-color: #fc9d4e;
      color: white;
      border-radius: 8px;
      font-weight: bold;
    }
    .showFabrics {
      margin-top: 10px;
      background-color: white;
      border-radius: 8px;
      height: 75vh;
      overflow: scroll;
      overflow-x: hidden;
      .inputSearch {
        float: left;
        border: 1px solid #fd7e14;
        padding: 0px 10px;
        border-radius: 17px;
        margin-top: 20px;
        margin-left: 20px;
        margin-bottom: 18px;
        input {
          width: 200px;
          border: none;
          outline: none;
          box-shadow: none;
          padding: 0;
          font-size: 14px;
          height: 32px;
          margin-left: 10px;
        }
      }
    }
    .tableProduct {
      width: 100%;
      float: left;
      .headerTable {
        font-weight: bold;
        font-size: 18px;
        background-color: #fc9d4e;
        padding: 10px 0;
      }
      .contentTable {
        font-weight: bold;
        font-size: 18px;
        padding: 10px 0;
        border-bottom: 1px solid #d2d2d2;
        a{
          color: black;
        }
        a:hover{
          color: #FD7E14;
        }
        .imgProduct {
          // background-color: blue;
          width: 70px;
        }
        .fa-trash-alt {
          color: red;
        }
      }
    }
  }
  