body {
    font: 16px/1 sans-serif;
}

#root {
    height: 100%;
}

* {
    box-sizing: border-box;
}

html, body, #app {
    /*height: 100%;*/
    margin: 0;
    padding: 0;
}

body {
    background: #eee;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

h1 {
    font-weight: 200;
    color: #565656;
    font-size: 20px;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.app {
    white-space: nowrap;
    height: 100%;
}

.list {
    position: relative;
    display: inline-block;
    vertical-align: top;
    white-space: normal;
    height: 100%;
    width: 33%;
    padding: 0 20px;
    overflow: auto;
}

.list:not(:last-child):after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 1px;
    height: 99%;
    background: linear-gradient(to bottom, #eee 0%, #ccc 50%, #eee 100%) fixed;
}

.card {
    position: relative;
    z-index: 1;
    background: #fff;
    width: 100%;
    padding: 10px 10px 10px 15px;
    margin: 0 0 10px 0;
    overflow: auto;
    border: 1px solid #e5e5df;
    border-radius: 3px;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
}

.card__title {
    font-weight: bold;
    border-bottom: solid 5px transparent;
}

.card__title:before {
    display: inline-block;
    width: 1em;
    content: '❤ ';
}

.card__title--is-open:before {
    content: '';
}

.checklist__task:first-child {
    margin-top: 10px;
    padding-top: 10px;
    border-top: dashed 1px #ddd;
}

.checklist__task--remove:after {
    display: inline-block;
    color: #d66;
    content: "+";
}

.checklist--add-task {
    border: 1px dashed #bbb;
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border-radius: 3px;
}

.active {
    color: red;
}

.main-container {
    min-height: 400px;
    padding-left: 256px;
}

.main-container-full {
    min-height: 400px;
}

.content {
    padding: 80px 16px 80px 16px;
}

.ReactTable .rt-thead .rt-resizable-header-content {
    height: 40px;
}

.ReactTable .rt-thead .rt-tr {
    background: #00bcd4;
    color: white;
    font-weight: bold;
}

.ReactTable .rt-tbody {
    background: white;
}

.table-react-padding-top {
    padding-top: 10px !important;
    padding-bottom: 13px !important;
}

.center-table-react {
    text-align: center;
}

.pagination > .active > a, .pagination > .active > a:focus, .pagination > .active > a:hover, .pagination > .active > span, .pagination > .active > span:focus, .pagination > .active > span:hover {
    background-color: #00bcd4;
    border-color: #00bcd4;
}

.pagination > li > a, .pagination > li > span {
    color: #00bcd4;
    cursor: pointer;
}

.table-search {
    border: 1px solid #5DADE2;
    border-collapse: collapse;
    border-radius: 0 30px 30px 0 !important;
}

.table-search > tr {
    border: 1px solid #5DADE2;
}

.table-search > tr > td {
    border: 1px solid #5DADE2;
    padding: 5px;
}

.mt-5 {
    margin-top: 2em;
}
.mb-1-5 {
    margin-bottom: 1.5em;
}
.m-7-0 {
    margin:7px 0;
}
.pt-1 {
    padding-top:1em;
}
.ml-5 {
    margin-left: 2em;
}

.abs {
    position: fixed;
}

.relative {
    position: relative;
    border-top: 1px solid red;
}

.scroll-list {
    <!-- overflow-y: auto; -->
    <!-- max-height: 250px; -->
    margin-bottom: 5px;
    padding: 10px;
}

.float-left {
    float: left;
}

.scanip-checkbox-group {
    width: 18px;
    height: 18px;
    position: relative;
    margin: 10px 0;
    background: #fff;
    background: linear-gradient(top, #fff 0%, #dfe5d7 40%, #b3bead 100%);
    box-shadow: inset 0px 1px 1px white, 0px 0px 1px rgba(0, 0, 0, 0.8);
    vertical-align: top;
}

.scanip-checkbox-group > label {
    width: 14px;
    height: 14px;
    position: absolute;
    top: 2px;
    left: 2px;
    cursor: pointer;
    background: -webkit-linear-gradient(top, #fff 0%, #fff 100%);
    background: linear-gradient(to bottom, #fff 0%, #fff 100%);
    box-shadow: inset 0px 1px 1px rgba(255, 255, 255, 0.5), 0px 1px 0px white;
}

.scanip-checkbox-group > label:after {
    content: '';
    width: 14px;
    height: 14px;
    position: absolute;
    top: 0px;
    left: 0px;
    background: #0E6251;
    background: -webkit-linear-gradient(top, #00BCD4 0%, #00BCD4 100%);
    background: linear-gradient(to bottom, #00BCD4 0%, #00BCD4 100%);
    opacity: 0;
}

.scanip-checkbox-group label:hover::after {
    opacity: 0;
}
.scanip-checkbox-group input[type=checkbox] {
    visibility: hidden;
}
.scanip-checkbox-group input[type=checkbox]:checked + label:after {
    opacity: 1;
}
.scanip-checkbox-group span {
    top: 1px;
    margin: 0 0 0 1em;
    position: absolute;
    width: 300px;
}

.scanip-checkbox-group > .loading {
    position: absolute;
    margin-left: 12em;
    top:0;
}

.scanip-title {
    background-color: #00BCD4;
    color: white;
    padding: 1px 10px;
}

.splitting-1 {
    float: left;
    height: 100%;
    width: 48%;
    position: relative;
}

.splitting-2 {
    height: 100%;
    margin: 0 0 0 2%;
    width: 50%;
    position: relative;
}

.wrap {
    display: flex;
    flex-wrap: wrap;
    background-color: white;
    padding: 10px;
    border-radius: 2px;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 6px, rgba(0, 0, 0, 0.12) 0px 1px 4px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.title-m {
    margin:10px 0 20px 0;
    line-height: 1;
    color: rgb(109, 109, 109);
    font-size: 20px;
}

.clearfix {
    margin-bottom: 10px;
}
label {
    font-weight: 500 !important;
}
.pagination>li>a, .pagination>li>span {
    padding: 4px 10px !important;
    margin-left: 2px !important;
    border: none !important;
    font-size: 14px;
}
.ReactTable .rt-thead .rt-resizable-header-content {
    font-size: 14px !important;
}
.x_title {
    margin-top:-10px ;
}
.rt-td {
    font-size: 11px;
    color: rgb(119, 119, 119);
}
.label {
    padding: .4em .7em .4em !important;
    font-size: 85% !important;
}
.size12 {
    font-size:12px !important;
}
.table-search > tr > td {
    border: none !important;
    padding: 0 20px !important;
}
.table-search {
    border: 1px solid #5DADE2;
    border-collapse: collapse;
    border-radius: 0 !important;
    background: white !important;
}
.rt-td span {
    display:inline-block;
}
.pagination {
    display: block !important;
}
.buttonsmall {
    min-width: 15px !important;
    height:15px !important;
    line-height:15px;
    margin-right:0.5em;
    padding:0;
    font-size: 10px !important;
}
.buttonsmall button {
    height:18px !important;
    line-height: 18px !important;
}
.buttonsmall span {
     font-size: 10px !important;
 }
.buttonsmall div div {
    height: 20px !important;
}
.ReactTable .rt-th{
    padding-top: 5px !important;
}
.ReactTable .rt-td {
     padding-top: 4px !important;
}
.rt-td span {
    display: inline-block;
    margin-top: 1px;
}
#textSearch {
    margin-top:10px !important;
}
.search-right {
    float:right;
    margin-top:8px;
}
.search-right-bot {
    float:right;
}
.search-right-bot > div:first-child  {
    width: 180px!important;
}
.search-right-bot > div:last-child  {
    min-width: 50px!important;
}
.button-circle {
    margin-bottom:5px;
    margin-left:10px;
    margin-top:5px
}
.ReactTable .rt-th, .ReactTable .rt-td {
    height: 26px;
}
.title-top-get {
    margin:10px 0 10px 0 !important;
    float:left;
}
.mb15 {
    margin-bottom: 15px;
}
.mb10 {
    margin-bottom: 10px;
}
.bg-title {
    padding: 15px 24px !important;
    background-color: #00bcd4;
    color: #fff !important;
}
.p24px {
    padding:24px !important;
}
.bgt {
    background-color: white !important;
    color: #00acc1 !important;
    font-weight: 600 !important;
    font-size: 14px !important;
}
.bgt2 {
    color: #ffffff !important;
    font-weight: 600 !important;
    font-size: 14px !important;
    margin-bottom: 5px !important;
}
.rt-tbody {
    position: relative;
}
.orco {
    color: #991617;;
}
.relati {
    position: relative;
}
.rt-noData {
    top: 300px !important;
}
.table-wrap2 .ReactTable {
    height: 500px;
}