.shoppingStore_wrapper{
    padding: 0 5.69vw;
    font-family: "Montserrat", sans-serif;
    color: #111E6C;
    a{
        color: #111E6C;
    }
    a:hover{
        color: #111E6C;
    }
    .ant-checkbox-checked .ant-checkbox-inner{
        background-color: #FF6D3B;
        border-color: #FF6D3B;
    }
    .ant-checkbox-checked::after{
        border: 1px solid #FF6D3B;
    }
    .ant-checkbox-inner{
        border: 1px solid #FF6D3B;
    }
}