// @media screen and (min-width): Mobile first
// @media screen and (max-width): Desktop first
.l-home {
    background-color: white;
    min-height: 100vh;
    &__top-products {
        /* Display & Box Model */
        padding: 0 2rem;
        /* Color */
    
        /* Text */
    
        /* Positioning */
    
        /* Others: transition & animations, ... */
    
    }
    &__fabrics {
        /* Display & Box Model */
        @include box(100%, 17.5rem);
        margin-bottom: 2rem;
        /* Color */
        /* Text */
        /* Positioning */
    
        /* Others: transition & animations, ... */
    
    }
}
@media screen and (min-width: 769px) {
    .l-home {
        /* Display & Box Model */
        max-width: 128rem;
        height: auto;
        margin: 0 auto;
        min-height: 0;
        /* Color */
    
        /* Text */
    
        /* Positioning */
    
        /* Others: transition & animations, ... */
        &__top-products {
            /* Display & Box Model */
            padding: 0 7.9rem;
            /* Color */
        
            /* Text */
        
            /* Positioning */
        
            /* Others: transition & animations, ... */
        
        }
        .ant-back-top{
            bottom: 5rem;
            right: 2rem;
        }
        .c-designer-card__avatar{
            .c-avatar{
                @include box(11.015rem);
            }
        }
        &__fabrics {
            /* Display & Box Model */
            @include box(100%, 52rem);
            margin-bottom: 3rem;
            /* Color */
            /* Text */
            /* Positioning */
        
            /* Others: transition & animations, ... */
        
        }
    }
}