// @media screen and (min-width): Mobile first
// @media screen and (max-width): Desktop first
.l-home {
    &__top-products {
        /* Display & Box Model */
        padding: 0 2rem;
        /* Color */
    
        /* Text */
    
        /* Positioning */
    
        /* Others: transition & animations, ... */
    
    }
}
@media screen and (min-width: 769px) {
    .l-home {
        /* Display & Box Model */
        max-width: 128rem;
        height: auto;
        margin: 0 auto;
        /* Color */
    
        /* Text */
    
        /* Positioning */
    
        /* Others: transition & animations, ... */
        &__top-products {
            /* Display & Box Model */
            padding: 0 7.9rem;
            /* Color */
        
            /* Text */
        
            /* Positioning */
        
            /* Others: transition & animations, ... */
        
        }
    }
}