.l-fabric-detail {
    /* Display & Box Model */

    /* Color */
    background-color: #fff;
    /* Text */

    /* Positioning */

    /* Others: transition & animations, ... */
    &__info {
        /* Display & Box Model */
        margin-top: 2rem;
        /* Color */
    
        /* Text */
        text-align: center;
        /* Positioning */
    
        /* Others: transition & animations, ... */
        @import "../../components/Pages/FabricDetail/fabricDetail.scss";
    }
    &__options {
        /* Display & Box Model */
        margin-top: 5rem;
        /* Color */
    
        /* Text */
    
        /* Positioning */
    
        /* Others: transition & animations, ... */
    
    }
    &__design-list {
        /* Display & Box Model */
        padding: 0 2rem;
        /* Color */
    
        /* Text */
    
        /* Positioning */
    
        /* Others: transition & animations, ... */
    
    }
}
@media screen and (min-width: 769px) {
    .l-fabric-detail {
        /* Display & Box Model */
        max-width: 128rem;
        height: auto;
        margin: 0 auto;
        /* Color */
    
        /* Text */
    
        /* Positioning */
    
        /* Others: transition & animations, ... */
    
    }
}