.pageFix {
    position: fixed;
}
.pageHomeMobile {
    font-family: "Montserrat", sans-serif !important;
    width: 100vw !important;
    .anticon {
        vertical-align: 0 !important;
    }
    .navbarHeader {
        // position: fixed;
        // top: 0;
        height: 65px;
        padding: 0 25px;
        color: #ff6d3b;
        width: 100vw;
        z-index: 6;
        background-color: white;
        .iconMenu {
            cursor: pointer;
            img {
                width: 7.2vw;
                height: 4.04vh;
                filter: invert(60%) sepia(70%) saturate(3320%)
                    hue-rotate(334deg) brightness(100%) contrast(103%);
            }
        }
        .titleHeader {
            width: 45.33vw;
            img {
                width: 100%;
                height: 100%;
                object-fit: fill;
            }
        }
        .search-wraper {
            width: 0;
            z-index: -1;
            position: absolute;
            right: -100px;
            .borderSearch {
                width: 0;
                transition: width 500ms ease-in-out;
                input {
                    width: 0;
                }
            }
        }
        .searchOpen {
            position: absolute;
            left: 0;
            background-color: white;
            height: 65px;
            width: 80vw;
            padding-left: 86.5vw;
            .borderSearch {
                position: absolute;
                width: 80vw;
                height: 65px;
                transition: width 500ms ease-in-out;
                transform: translateX(-100%);
                input {
                    width: 85%;
                    border: none;
                    box-shadow: none;
                    font-size: 18px;
                    padding-left: 9px;
                }
                i {
                    font-size: 18px;
                    color: #ff6d3b;
                }
                .buttonSearch {
                    border: none;
                    box-shadow: none;
                    outline: none;
                }
            }
        }
    }
    .navbarHeaderFixed {
        position: fixed;
        top: 0;
    }
    .seachSuggest-wraper {
        padding: 0 25px;
        border-top: 1.5px solid #ff6d3b;
        .contentHeader {
            height: 33vh;
            margin-top: 10px;
            :nth-child(1) {
                font-size: 20px;
                color: #111e6c;
                font-weight: 500;
                img {
                    margin-right: 3.5%;
                }
            }
            .suggestionContent {
                width: 100%;
                height: 100%;
                overflow: scroll !important;
                .suggestion {
                    color: #111e6c;
                    font-size: 16px;
                    font-weight: 500;
                }
                a {
                    margin-top: 1.6vh;
                }
            }
        }
        .topListProduct {
            margin-top: 2.5%;
            .title {
                font-size: 26px;
                color: #111e6c;
                font-weight: bold;
            }
            .bestSellerInfo-wrapper {
                width: 100%;
                height: auto;
                padding: 5px 0px;
                margin-top: 10px;
                .col-6 {
                    padding: 7px 2.5px;
                    float: left;
                    height: auto;
                }
                .imageProduct {
                    // background-color: #7fc4fd;
                    height: auto;
                    border-radius: 10px;
                    img {
                        width: 100%;
                    }
                }
                .titleProduct {
                    font-size: 14px;
                    text-align: center;
                    font-weight: bold;
                    margin-top: 4px;
                    color: #111e6c;
                }
                .button {
                    margin-top: 3px;
                    span {
                        border: 1px solid #ff6d3b;
                        width: 91px;
                        padding: 3px 0px;
                        font-size: 13px;
                        text-align: center;
                        border-radius: 5px;
                        color: #ff6d3b;
                    }
                }
            }
        }
    }
    .bodyPage {
        color: #111e6c !important;
        .header__bodyPage {
            img {
                width: 100vw;
                border-radius: 0;
                height: 100vh;
                object-fit: cover;
            }
            .textHeader {
                position: absolute;
                display: flex;
                width: 100vw;
                justify-content: center;
                align-items: center;
                bottom: 30.99vw;
                color: #111e6c;
                font-size: 5.33vw;
                font-weight: bold;
            }
            .buttonHeder {
                display: flex;
                justify-content: center;
                align-items: center;
                left: 24.53vw;
                font-size: 3.73vw;
                font-weight: bold;
                color: white;
                border: none;
                background-color: #ff6d3b;
                border-radius: 10px;
                width: 50.4vw;
                height: 5.99vh;
            }
        }
        .content__bodyPage {
            padding: 0 25px;
            margin-top: 28px;
            .title {
                text-align: center;
                padding: 0 8vw;
                :nth-child(1) {
                    font-weight: bold;
                    font-size: 5.33vw;
                }
                :nth-child(2) {
                    font-size: 13px;
                    margin-top: 5px;
                }
            }
            .fourStep-wraper {
                margin-top: 1.79vh;
                .fourStep-content {
                    width: 20vw;
                    .image {
                        height: 11.54vh;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                        img {
                            width: 100%;
                            height: 100%;
                            object-fit: fill;
                        }
                    }
                    .title {
                        padding: 0;
                        span {
                            font-size: 12px;
                        }
                    }
                }
            }
            .numberStep {
                padding: 0 6.93vw;
                margin-top: 1.49vh;
                .number {
                    color: #ff6d3b;
                    border-radius: 50%;
                    border: 1px solid #ff6d3b;
                    font-size: 4.8vw;
                    background-color: #fff4e3;
                    padding: 0.14vh 2.4vw;
                    font-weight: bold;
                }
            }
            hr {
                border-top: 1px solid #ff6d3b;
                width: 100%;
                margin: 0;
            }
        }
        .strikingDesign-wraper {
            display: flex;
            flex-direction: column;
            margin-top: 5.84vh;
            .title {
                text-align: center;
                padding: 0 25px;
                :nth-child(1) {
                    font-weight: bold;
                    font-size: 6.4vw;
                }
                :nth-child(2) {
                    font-size: 3.73vw;
                    padding: 0 13px;
                    text-align: center;
                    margin-bottom: 15px;
                }
            }
            .carousel-wraper {
                .swiper-slide {
                    width: fit-content !important;
                }
                .content-carousel {
                    margin: 0 1.86vw;
                    .image {
                        width: 74.66vw;
                        height: 65.21vh;
                        border-radius: 7px;
                        img {
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                            border-radius: 15px;
                        }
                    }
                    .end-carousel {
                        .title {
                            font-size: 4.8vw;
                            font-weight: bold;
                            margin-bottom: 10px;
                            margin-top: 10px;
                        }
                        .button {
                            margin: 0 9.6vw;
                            border-radius: 7px;
                            .titleButton {
                                font-size: 3.73vw;
                                color: #ff6d3b;
                                border-radius: 10px 0px 0px 10px;
                                border: 1px solid #ff6d3b;
                                width: 100%;
                                padding: 1.04vh 0;
                                text-align: center;
                            }
                            .col-6 {
                                padding: 0;
                            }
                            .putButton {
                                border: 1px solid #ff6d3b;
                                background-color: #ff6d3b;
                                color: white;
                                font-size: 3.73vw;
                                border-radius: 0px 10px 10px 0px;
                                width: 100%;
                                padding: 1.04vh 0;
                                .anticon {
                                    vertical-align: 0;
                                    font-size: 12px;
                                    margin-left: 5px;
                                    margin-top: 2px;
                                }
                            }
                        }
                    }
                }
            }
        }
        .listProduct {
            margin: 0;
            margin-top: 10.49vh;
            margin-bottom: 10px;
            .title__listProduct {
                font-size: 6.4vw;
                font-weight: bold;
            }
            .categoryProduct {
                .image {
                    width: 33vw;
                    height: 48.967vw;
                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }
                .contentProduct {
                    width: 33vw;
                    height: 48.967vw;
                    background-color: rgba(0, 0, 0, 0.65);
                    position: relative;
                    top: -48.967vw;
                    span {
                        color: white;
                    }
                    :nth-child(1) {
                        font-size: 3.73vw;
                        font-weight: bold;
                    }
                    :nth-child(2) {
                        font-size: 3.2vw;
                    }
                }
            }
            hr {
                border-top: 1px solid #ff6d3b;
                margin: 0 25px;
                margin-top: 20px;
            }
        }
        .collection-wraper {
            padding: 0 25px;
            hr {
                border-top: 1px solid #ff6d3b;
                margin: 0;
                margin-top: 6.74vh;
                margin-bottom: 6.74vh;
            }
            .title__collection {
                :nth-child(1) {
                    font-size: 6.4vw;
                    font-weight: bold;
                }
                :nth-child(2) {
                    font-size: 3.73vw;
                }
            }
            .carousel-wraper {
                margin-top: 10px;
                .swiper-slide {
                    width: fit-content !important;
                }
                .content-carousel {
                    .title {
                        font-size: 5.86vw;
                        margin-bottom: 7px;
                        font-weight: 500;
                    }
                    .image {
                        width: 250px;
                        height: 360px;
                        border-radius: 7px;
                        img {
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                        }
                        .popupImage {
                            position: absolute;
                            background: #fff4e3;
                            color: #ff6d3b;
                            font-size: 12px;
                            padding: 3px 10px;
                            border-radius: 7px;
                            margin-left: 14px;
                            margin-top: 16px;
                        }
                    }
                    .end-carousel {
                        margin-top: 10px;
                        .button {
                            background-color: #ff6d3b;
                            border-radius: 7px;
                            height: 40px;
                            .titleButton {
                                font-size: 3.73vw;
                                color: white;
                                font-weight: bold;
                            }
                        }
                    }
                }
            }
        }
        .weYour-wraper {
            height: 335px;
            .title__weyour {
                .title1 {
                    font-size: 6.4vw;
                    font-weight: bold;
                }
                .title2 {
                    margin: 0 11.2vw;
                    font-size: 3.2vw;
                    margin-top: 5px;
                    font-weight: bold;
                    font-style: italic;
                }
            }
            .image-wraper {
                height: 220px;
                background-color: #7fc4fd;
                img {
                    width: 100%;
                    height: 100%;
                    border-radius: 0;
                    object-fit: cover;
                }
            }
        }
        .weGive-wraper {
            margin-top: 20px;
            .title {
                margin: 0 28px;
                :nth-child(1) {
                    font-size: 6.4vw;
                    font-weight: bold;
                    width: 100%;
                    display: flex;
                    justify-content: center;
                }
                :nth-child(2) {
                    font-size: 3.73vw;
                    margin-top: 5px;
                    width: 100%;
                    display: flex;
                    justify-content: center;
                }
            }
            .fourBenefit-wraper {
                margin: 0 7vw;
                margin-top: 10px;
                .twoBenefit {
                    margin: 10px 0;
                    .image {
                        width: 29.86vw;
                        height: 16.79vh;
                        img {
                            width: 100%;
                            height: 100%;
                            object-fit: fill;
                        }
                    }
                    .col-6 {
                        margin: 0;
                        padding: 0;
                    }
                    .titleBenefit {
                        :nth-child(1) {
                            font-weight: bold;
                            font-size: 4.26vw;
                            padding: 0 5.86vw;
                            text-align: center;
                        }
                    }
                }
            }
            .buttonConect {
                margin-top: 7px;
                a {
                    width: fit-content;
                    height: fit-content;
                    text-decoration: none;
                    span {
                        height: 5.99vh;
                        width: 43.73vw;
                        background-color: #ff6d3b;
                        color: white;
                        font-size: 3.73vw;
                        border-radius: 30px;
                        font-weight: bold;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                    }
                }
                a:active, a:focus {
                    text-decoration: none;
                }
            }
        }
        .passion {
            .titleHeader {
                :nth-child(1) {
                    font-size: 6.4vw;
                    font-weight: bold;
                    margin-top: 30px;
                }
                :nth-child(2) {
                    margin: 0 28px;
                    text-align: center;
                    font-size: 3.73vw;
                    margin-top: 9px;
                    padding: 0 7vw;
                }
            }
            .video {
                margin: 0 27.5px;
                border-radius: 10px;
                margin-top: 12.5px;
                img {
                    width: 100%;
                }
            }
            hr {
                border-top: 1px solid #ff6d3b;
                margin: 40px 27.5px;
            }
        }
    }
    .footerPage {
        padding: 1.49vh 6.66vw;
        margin-bottom: 0px;
        background-color: #ff6d3b;
        color: white;
        .titleFooter {
            font-size: 4.8vw;
            font-weight: bold;
            :nth-child(2) {
                margin-top: 5px;
            }
        }
        .inputEmail {
            .ant-input {
                background-color: transparent;
                border: none;
                box-shadow: none;
                color: white;
                padding-left: 3px;
                font-size: 14px;
            }
            ::placeholder {
                color: white;
                font-size: 14px;
            }
            border-bottom: 1px solid white;
            width: 86.13vw;
            margin-top: 26px;
            .buttonApcept {
                font-size: 3.2vw;
                color: #ff6d3b;
                font-weight: bold;
                background-color: white;
                width: 24vw;
                height: 3vh;
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }
        .emailError {
            font-size: 3.2vw;
            color: #111e6c;
            display: block !important;
            margin-top: 1vw;
        }
        .emailError_unvisible {
            display: none;
        }
        .infomation {
            font-size: 3.2vw;
            font-weight: bold;
            width: 325px;
            margin-top: 56px;
            span {
                border-bottom: 1px solid white;
            }
            a {
                width: fit-content;
                height: fit-content;
                text-decoration: none;
                color: white;
            }
        }
        .iconSocialNetwork {
            width: 200px;
            margin-top: 51px;
            a {
                width: fit-content;
                height: fit-content;
                text-decoration: none;
                img {
                    width: 10.66vw;
                    height: 10.66vw;
                }
            }
        }
        .hotline {
            font-size: 4.26vw;
            margin-top: 49px;
        }
        .iconLogoTailorWings {
            margin-top: 40px;
            img {
                width: 17.06vw;
                height: 18.59vh;
                filter: invert(100%) sepia(71%) saturate(0%) hue-rotate(36deg)
                    brightness(200%) contrast(101%);
            }
        }
        .titleEndFooter {
            margin-top: 19.3px;
            :nth-child(1) {
                font-size: 3.73vw;
            }
            :nth-child(2) {
                font-size: 2.4vw;
            }
            span {
                color: #fff4e3 !important;
            }
        }
    }
    .fit-menu-wraper {
        height: 60px;
        background-color: #f1f9ff;
        padding: 0 68px;
        position: fixed;
        bottom: 0;
        z-index: 1;
        width: 100vw;
        .icon {
            img {
                width: 27.77px;
                height: 23.08px;
                filter: invert(47%) sepia(60%) saturate(1703%)
                    hue-rotate(186deg) brightness(96%) contrast(104%);
            }
            span {
                color: #2699fb;
                font-size: 12px;
            }
            i {
                font-size: 22px;
                color: #2699fb;
            }
        }
    }
}
