.c-fabric-detail-info {
    /* Display & Box Model */
    /* Color */

    /* Text */

    /* Positioning */

    /* Others: transition & animations, ... */
    &__name {
        /* Display & Box Model */
    
        /* Color */
    
        /* Text */
        @include font(fontHeavy, 2.4rem);
        /* Positioning */
    
        /* Others: transition & animations, ... */
    
    }
    &__tag {
        /* Display & Box Model */
        display: inline-block;
        margin-top: 1.5rem;
        padding: 1rem 2rem;
        border-radius: 1rem;
        /* Color */
        background-color: $--bg-passive;
        color: $--text-passive;
        /* Text */
        @include font(fontSemiBold, 1.3rem);
        /* Positioning */
    
        /* Others: transition & animations, ... */
    
    }
    &__desc {
        /* Display & Box Model */
        margin-top: 1.5rem;
        display: flex;
        flex-direction: column;
        /* Color */
    
        /* Text */
        @include font(fontNormal, 1.4rem);
        
        /* Positioning */
    
        /* Others: transition & animations, ... */
        span{
            line-height: 2.5rem;
        }
    }
}
@media screen and (min-width: 769px) {
    .c-fabric-detail-info {
        /* Display & Box Model */
        margin-top: 3rem;
        /* Color */
        color: $--text-default;
        /* Text */
    
        /* Positioning */
    
        /* Others: transition & animations, ... */
        &__name {
            /* Display & Box Model */
            /* Color */
        
            /* Text */
            font-size: 3.6rem;
            /* Positioning */
        
            /* Others: transition & animations, ... */
        
        }
        &__section1 {
            /* Display & Box Model */
            @include flexBox(center, center);
            /* Color */
        
            /* Text */
        
            /* Positioning */
        
            /* Others: transition & animations, ... */
        
        }
        &__tag {
            /* Display & Box Model */
            margin: 0;
            margin-left: 1.5rem;
            /* Color */
        
            /* Text */
            font-size: 1.6rem;
            /* Positioning */
        
            /* Others: transition & animations, ... */
        
        }
        &__desc {
            /* Display & Box Model */
            margin-top: 3.2rem;
            /* Color */
        
            /* Text */
            font-size: 1.8rem;
            /* Positioning */
        
            /* Others: transition & animations, ... */
        
        }
    }
}