.side-drawer {
    font-family: "Be Vietnam", sans-serif !important;
    background: #fff4e3;
    color: black;
    // opacity: 0.85;
}
#sidebar {
    .nav-item {
        background-color: #fff4e3 !important;
        color: black;
    }
    .dropdown-toggle::after {
        display: none;
    }
}
.sidebar-wraper {
    padding: 0 25px;
    // border-top: 3px solid #FF6D3B;
    span {
        color: #111e6c !important;
    }
    .selectionCategory {
        margin-top: 34px;
        a {
            height: 7.2vh;
        }
        span {
            font-family: "Be Vietnam", sans-serif !important;
            font-size: 30px;
            font-weight: 600;
            font-stretch: normal;
            font-style: normal;
            line-height: 1.47;
            letter-spacing: normal;
        }
    }
    hr {
        background-color: #ffa45c;
        margin-top: 19px;
        margin-bottom: 27px;
    }
    .selectionEndSidebar {
        span {
            font-size: 20px;
            line-height: 40px;
        }
    }
    .dropdown-toggle::after {
        display: none;
    }

    .nav-link {
        padding: 0px !important;
        font-size: 20px;
        color: #111e6c !important;
        line-height: 44px !important;
    }
}
