.side-drawer {
    background-color: white !important;
    color: black;
}
.side-drawer {
    font-family: 'Be Vietnam', sans-serif !important;
    background: white;
    color: black;
}
#sidebar {
    .nav-item {
        background-color: transparent !important;
        color: black;
    }
    .dropdown-toggle::after {
        display: none;
    }
}
.sidebar-wraper{
    padding: 0 25px;
    border-top: 3px solid #FF6D3B;
    span{
        color: #FF6D3B !important;
    }
    .selectionCategory{
        margin-top: 11px;
        span{
            font-size: 30px;
            line-height: 44px;
        }
    }
    hr{
        background-color: #FFA45C;
        margin-top: 19px;
        margin-bottom: 27px;
    }
    .selectionEndSidebar{
        span{
            font-size: 20px;
            line-height: 40px;
        }
    }
}