.footerHide {
  display: none;
}

.linkFanpage {
  width: 95% !important;
  object-fit: fill;
  iframe {
    width: 100% !important;
  }
  html#facebook{
      margin-top: 100px;
    ._2p3a {
        width: 100% !important;
      }
    .uiScaledImageContainer {
        width: 100% !important;
        .scaledImageFitHeight {
          width: 100% !important;
        }
      }
  }
  
  
  .fb-page {
    width: 100% !important;

    span {
      width: 100% !important;
    }
  }
}
