.slick-dots {
    bottom: 5px !important;
}

@media screen and (min-width:1400px)
{
    .imgProduct{
        #carouselExampleIndicators{
            width: 75% !important;
            // height: 587.5px !important;
            height: auto !important;
            .borderImgCarousel{
                width: 100% !important;
                // height: 587.5px !important;
                height: auto !important;
                background-repeat: no-repeat;
                img{
                    width: 100% !important;
                    // height: 100% !important;
                    height: auto !important;
                    object-fit: fill;
                }
            }
        }
    }
}
@media screen and (max-width:1399px)
{
    .imgProduct{
        #carouselExampleIndicators{
            width: 100% !important;
            // height: 550px !important;
            height: auto !important;
            .borderImgCarousel{
                width: 100% !important;
                // height: 550px !important;
                height: auto !important;
                background-repeat: no-repeat;
                img{
                    width: 100% !important;
                    // height: 100% !important;
                    object-fit: fill;
                }
            }
        }
    }
}
@media screen and (max-width:1199px)
{
    .imgProduct{
        #carouselExampleIndicators{
            width: 100% !important;
            // height: 480px !important;
            height: auto !important;
            .borderImgCarousel{
                width: 100% !important;
                // height: 480px !important;
                height: auto !important;
                background-repeat: no-repeat;
                img{
                    width: 100% !important;
                    // height: 100% !important;
                    object-fit: fill;
                }
            }
        }
    }
}
@media screen and (max-width: 768px)
{
    .imgProduct{
        #carouselExampleIndicators{
            width: 100% !important;
            height: auto !important;
            .borderImgCarousel{
                width: 100% !important;
                height: auto !important;
                background-repeat: no-repeat;
                img{
                    width: 100% !important;
                    // height: 100% !important;
                    object-fit: fill;
                }
            }
        }
    }
    .breadcrumb{
        font-size: 16px !important;
    }
}
@media screen and (max-width:767px)
{
    .breadcrumb{
        font-size: 11px !important;
    }
    .infor-detail{
        h1{
            font-size: 32px !important;
        }
    }
}