.pageProductDetailWeb {
    padding: 0 5.69vw;
    font-family: "Montserrat", sans-serif;
    color: #111e6c;
    .steps {
        color: #ff6d3b;
        font-size: 1.25vw;
        span{
            margin: 0 5px;
        }
        .highlight {
            font-weight: bold;
            font-size: 1.527vw;
        }
    }
    
}
