
#detail {
    padding-top: 70px;
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
}

#detail,h1,h2,h3,h4,h5,h6,.btn{
    font-family: "Josefin Sans", sans-serif !important;
}

#detail .img-products {
    max-height: 80%;
}

#detail .breadcrumb {
    background: #fff;
    border-top: 1px solid #6c757d;
    border-bottom: 1px solid #6c757d;
    border-radius: 0px;
}

#detail .breadcrumb a {
    color: #6c757d;
}

#detail .breadcrumb-item.active {
    color: #f47a29 !important;
}

#detail #product {
    line-height: 19px;
    padding: 20px;
}

#detail .price {
    color: #777;
}

#detail .img-fluid-v2 {
    width: 22vh;
    height: 10em;
}

#detail .rating {
    padding: 20px 0;
}

#detail .checked {
    color: orange;
}

#detail .form-group {
    padding: 15px 0;
    padding-top: 0 !important;
}

#detail .detail-border {
    border-bottom: 1px solid #6c757d40;    
}


#detail .img-vai {
    margin: 15px 10px;
}

#detail .nav-tabs {
    border: none;
}

#detail .nav-tabs .nav-link.active {
    border: none;
    border-bottom: 2px solid orange;
}

#detail .nav-tabs .nav-link:hover {
    border: none;
    border-bottom: 2px solid orange;
}

#detail .detail-size .nav-link.active{
    color: black;
    background-color: orange !important;
    border-radius: 50%;
}

#detail .detail-size .nav-link {
    margin-bottom: 5px;
    text-align: center;
    padding: 0 !important;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 40px;
    height: 40px;
    margin-right: 3px;
}
.detail-size{
    padding: 0 !important;
    margin: 0 10% !important;
    margin-top: 5px !important;
}
#detail .detail-size .nav-link:hover {
    /* border: 1px solid black;
    border-radius: 100%; */
    color: black;
    border-bottom: 2px solid orange;
}

/* @media screen and (max-width: 375px) {
    .alice-carousel {
        width: 365px !important;
    }
    .btnRight {
        display: none;
    }
    .btnLeft {
        display: none;
    }
}

@media screen and (max-width: 767px) {
    .img-fluid {
        width: 380px !important;
        height: 450px !important;
    }
    .alice-carousel {
        width: 385px !important;
    }
    .img-vai {
        width: 120px;
        height: 85px;
    }
    .btnRight {
        display: none;
    }
    .btnLeft {
        display: none;
    }
}

@media screen and (min-width: 768px) {
    .img-fluid {
        width: 300px !important;
        height: 350px !important;
    }
    .alice-carousel {
        width: 320px !important;
    }
} */

@media screen and (min-width: 1025px) {
    .img-fluid {
        width: 500px !important;
        height: 600px !important;
    }
    .alice-carousel {
        width: 465px !important;
        margin: 0 10px !important;
        z-index: 0;
    }
    .img-vai {
        width: 140px;
        height: 110px;
    }
}

.btnLeft {
    background: white;
    border: none;
    outline: none !important;
}

.btnRight {
    background: white;
    border: none;
    outline: none !important;
    margin-right: 5px;
}

.container {
    padding-left: 5% !important;
    padding-right: 5% !important;
}

/* edit button */
.number-spinner button:focus{
    box-shadow: none !important;
    outline: none !important;
}
.number-spinner input{
    outline: none !important;
}
.form-group .btn-outline-orange,.form-group .btn-primary{
    width: 281px !important;
}