.c-admin-sidebar {
    /* Display & Box Model */
    @include box(30rem, 72rem);
    @include flexBox(flex-start, center, column);
    padding: 0 2.8rem;
    min-height: 100vh;
    /* Color */
    background-color: $--bg-default;
    /* Text */

    /* Positioning */

    /* Others: transition & animations, ... */

    &__icon {
        /* Display & Box Model */
        @include box(16.1rem, auto);
        margin-top: 4rem;
        /* Color */

        /* Text */

        /* Positioning */

        /* Others: transition & animations, ... */
    }

    &__list {
        /* Display & Box Model */
        @include flexBox(flex-start, center, column);
        @include box(100%, auto);
        margin-top: 3rem;
        border-radius: 30px;
        padding: 4rem 2rem;
        /* Color */
        background-color: $--bg-active;
        /* Text */

        /* Positioning */

        /* Others: transition & animations, ... */
    }

    a:hover {
        background-color: $--bg-default;
        color: $--text-passive;
        border-radius: 1rem;
    }

    &__item {
        /* Display & Box Model */
        @include box(100%, auto);
        padding: 1.5rem 0;
        margin-bottom: 1.5rem;
        border-radius: 1rem;
        /* Color */
        color: $--text-active;
        /* Text */
        @include font(fontBold, 1.6rem);
        text-align: center;
        /* Positioning */

        /* Others: transition & animations, ... */
        transition: 0.25s ease-in-out;
        &--active {
            /* Display & Box Model */
            border-radius: 1rem;
            /* Color */
            background-color: $--bg-default;
            color: $--text-passive;
            /* Text */

            /* Positioning */

            /* Others: transition & animations, ... */
        }
    }

    &__account {
        /* Display & Box Model */
        @include centerFlexBox;
        margin: 19rem 0 4rem 0;

        /* Color */

        /* Text */

        /* Positioning */

        /* Others: transition & animations, ... */
    }

    &__name {
        /* Display & Box Model */
        @include box(24.4rem, auto);
        margin-top: 12.6rem;
        /* Color */
        color: $--text-passive;
        /* Text */
        @include font(fontSemiBold, 2.3rem);
        text-align: center;
        /* Positioning */

        /* Others: transition & animations, ... */
    }
    &__logout {
        /* Display & Box Model */
        @include centerFlexBox();
        @include box(11.5rem, 4.7rem);
        margin-top: 1.5rem;
        border-radius: 1.3rem;
        /* Color */
        background-color: $--bg-passive;
        /* Text */
    
        /* Positioning */
    
        /* Others: transition & animations, ... */
        cursor: pointer;
    }
    &__power-icon {
        /* Display & Box Model */
        @include box(1.5rem);
        /* Color */
    
        /* Text */
    
        /* Positioning */
    
        /* Others: transition & animations, ... */
    
    }
    &__text-log {
        /* Display & Box Model */
        margin-right: 0.7rem;
        /* Color */
        color: $--text-passive;
        /* Text */
        @include font(fontSemiBold, 1.4rem);
        /* Positioning */
    
        /* Others: transition & animations, ... */
    
    }
}
