.c-order-item {
    /* Display & Box Model */
    @include flexBox();
    margin: 0.9rem 0;
    /* Color */

    /* Text */

    /* Positioning */

    /* Others: transition & animations, ... */
    &__image {
        /* Display & Box Model */
        @include box(7rem, 8.75rem);
        border-radius: 5px;
        /* Color */
        background-color: $--bg-passive;
        /* Text */
    
        /* Positioning */
    
        /* Others: transition & animations, ... */
    
    }
    &__id {
        /* Display & Box Model */
        margin-top: 5px;
        /* Color */
    
        /* Text */
    
        /* Positioning */
    
        /* Others: transition & animations, ... */
    
    }
    &__content {
        /* Display & Box Model */
        @include box(21.92rem, 8.75rem);
        @include flexBox(space-between, flex-start, column);
        padding-left: 1rem;
        /* Color */
    
        /* Text */
        @include font(fontSemiBold, 1.4rem);
        /* Positioning */
    
        /* Others: transition & animations, ... */
    
    }
    &--top {
        /* Display & Box Model */
        width: 20.92rem;
        @include flexBox(space-between);
        /* Color */
    
        /* Text */
    
        /* Positioning */
    
        /* Others: transition & animations, ... */
    
    }
    
}
@media screen and (min-width: 769px) {
    .c-order-item {
        /* Display & Box Model */
        margin: 2rem 0;
        /* Color */
    
        /* Text */
    
        /* Positioning */
    
        /* Others: transition & animations, ... */
        &:nth-child(1){
            margin-top: 0;
        }
        &:nth-last-child(1){
            margin-bottom: 0;
        }
        &__image {
            /* Display & Box Model */
            @include box(10rem, 12.5rem);
            /* Color */
        
            /* Text */
        
            /* Positioning */
        
            /* Others: transition & animations, ... */
        
        }
        &__content {
            /* Display & Box Model */
            width: 34rem;
            height: 12.5rem;
            padding: .5rem 0 .5rem 2rem;
            @include font(fontSemiBold, 1.6rem);
        }
        &--top{
            width: 34rem;
            margin-bottom: .7rem;
        }
    }
}