.c-home-top-products {
    /* Display & Box Model */
    margin-top: 8.257rem;
    padding: 0 2.5rem;
    /* Color */

    /* Text */

    /* Positioning */

    /* Others: transition & animations, ... */
    &__title {
        /* Display & Box Model */
    
        /* Color */
        color: $--text-passive;
        /* Text */
        @include font(fontHeavy, 2.4rem);
        /* Positioning */
    
        /* Others: transition & animations, ... */
    
    }
}