.c-options {
    /* Display & Box Model */
    padding: 0 2rem;
    /* Color */

    /* Text */

    /* Positioning */

    /* Others: transition & animations, ... */

    &__filters {
        /* Display & Box Model */
        @include flexBox(center, center, row, wrap);
        padding: 0 2rem;
        /* Color */

        /* Text */

        /* Positioning */

        /* Others: transition & animations, ... */

        & > a {
            /* Display & Box Model */
            margin: 0.5rem 0.5rem;
            /* Color */
        
            /* Text */
        
            /* Positioning */
        
            /* Others: transition & animations, ... */
        
        }
    }
    &__sorts {
        /* Display & Box Model */
        @include flexBox(space-between, center);
        margin-top: 2.2rem;
        padding: 0 1.5rem;
        /* Color */

        /* Text */

        /* Positioning */

        /* Others: transition & animations, ... */
    }
}
@media screen and (min-width: 769px) {
    .c-options {
        /* Display & Box Model */
        padding: 0 7rem;
        margin-top: 4.5rem;
        /* Color */

        /* Text */

        /* Positioning */

        /* Others: transition & animations, ... */
        &__filters {
            /* Display & Box Model */

            /* Color */

            /* Text */

            /* Positioning */

            /* Others: transition & animations, ... */
            & > a {
                margin: 0.5rem 0.75rem;
            }
        }
        &__sorts {
            /* Display & Box Model */
            margin-top: 0;
            padding: 0;
            margin-left: 5rem;
            /* Color */

            /* Text */

            /* Positioning */

            /* Others: transition & animations, ... */

            .c-sort:not(:last-child) {
                margin-right: 1.5rem;
            }
        }
    }
}
