.c-options {
    /* Display & Box Model */
    padding: 0 2rem;
    /* Color */

    /* Text */

    /* Positioning */

    /* Others: transition & animations, ... */

    &__filters {
        /* Display & Box Model */
        @include flexBox(space-between, center);
        /* Color */

        /* Text */

        /* Positioning */

        /* Others: transition & animations, ... */
    }
    &__sorts {
        /* Display & Box Model */
        @include flexBox(space-between, center);
        margin-top: 2.2rem;
        padding: 0 1.5rem;
        /* Color */

        /* Text */

        /* Positioning */

        /* Others: transition & animations, ... */

    }
}
@media screen and (min-width:769px){
    .c-options {
        /* Display & Box Model */
        @include flexBox(flex-start, center);
        padding: 0 7rem;
        margin-top: 4.5rem;
        /* Color */
    
        /* Text */
    
        /* Positioning */
    
        /* Others: transition & animations, ... */
        &__filters {
            /* Display & Box Model */
            @include box(52.5rem, auto);
            /* Color */
        
            /* Text */
        
            /* Positioning */
        
            /* Others: transition & animations, ... */
        
        }
        &__sorts {
            /* Display & Box Model */
            margin-top: 0;
            padding: 0;
            margin-left: 5rem;
            /* Color */
        
            /* Text */
        
            /* Positioning */
        
            /* Others: transition & animations, ... */
        
        }
        .c-sort:nth-child(2){
            margin-left: 2rem;
        }
    }
}
