.c-cart-products {
    /* Display & Box Model */
    margin-top: 6rem;
    padding: 4rem 2.4rem 0 2.3rem;
    /* Color */

    /* Text */

    /* Positioning */

    /* Others: transition & animations, ... */
    &__title {
        /* Display & Box Model */

        /* Color */
        color: $--text-blur;
        /* Text */
        text-align: center;
        @include font(fontHeavy, 2.4rem);
        /* Positioning */

        /* Others: transition & animations, ... */
    }
    &__list {
        /* Display & Box Model */

        /* Color */

        /* Text */

        /* Positioning */

        /* Others: transition & animations, ... */
        @import "./ProductItem/productItem";
    }
}
@media screen and (min-width: 769px) {
    .c-cart-products {
        /* Display & Box Model */
        margin-top: 0;
        padding: 6rem 17rem 0;
        /* Color */
    
        /* Text */
    
        /* Positioning */
    
        /* Others: transition & animations, ... */
        &__title{
            display: none;
        }
        &__list {
            /* Display & Box Model */
            width: 36.8rem;
            max-height: 61.5rem;
            /* Color */
        
            /* Text */
        
            /* Positioning */
            overflow-x: none;
            overflow-y: scroll;
            /* Others: transition & animations, ... */
            .c-cart-product-item:nth-child(1){
                margin-top: 0;
            }
            &::-webkit-scrollbar {
                width: 1rem;
                background-color: transparent;
            }
            &::-webkit-scrollbar-thumb {
                border-radius: 1rem;
                background: $--primary-color;
            }
        }
    }
}
