.c-size-body-image {
    /* Display & Box Model */
    @include box(37.5rem, 34rem);
    padding: 3.2rem 5.2rem;
    /* Color */

    /* Text */

    /* Positioning */

    /* Others: transition & animations, ... */

}
@media screen and (min-width: 769px) {
    .c-size-body-image {
        /* Display & Box Model */
        @include box(34.9rem, 35.6rem);
        padding: 0;
        margin: 0 auto;
        /* Color */
    
        /* Text */
    
        /* Positioning */
    
        /* Others: transition & animations, ... */
    
    }
}