.app {
    /* Display & Box Model */
    min-width: 100vw;
    min-height: 100vh;
    /* Color */

    /* Text */

    /* Positioning */

    /* Others: transition & animations, ... */

    &--fixed-top {
        /* Display & Box Model */
    
        /* Color */
    
        /* Text */
    
        /* Positioning */
    
        /* Others: transition & animations, ... */
        position: fixed;
        top: 0;
    }
}