.categories_wrapper {
    font-family: "Montserrat", sans-serif;
    background: #fff4e3;
    border-radius: 25px;
    height: 33.33vh;
    padding: 0 15.1vw;
    .image{
        img{
            width: 10vw;
            height: 17vh;
        }
        span{
            font-size: 1.25vw;
            font-weight: bold;
            margin-top: 2vh;
            color: #FF6D3B;
        }
    }
    .blur{
        opacity: 0.5;
    }
}
