.admin {
    /* Positioning */

    /* Display & Box Model */
    width: 100%;
    height: 100vh;
    /* Color */
    background: #f8f9fb;
    /* Text */
    font-family: 'Raleway', sans-serif !important;

    /* Others: transition & animations, ... */
}
