.headerAdmin{
    background-color: #FD7E14;
    height: 10vh;
    padding: 0 3%;
    color: white;
    .titleHeader{
        font-size: 22px;
        font-weight: bold;
    }
}
.ant-message-custom-content {
    display: flex;
    justify-content: center;
    align-items: center;
}