.orderConfirm_wrapper {
    margin-top: -2.44vh;
    color: #111e6c;
    .imageOrderConfirm {
        width: 43.61vw;
        height: 38.44vh;
        img {
            width: 100%;
            height: 100%;
        }
    }
    .iconChecked {
        height: 5.55vh;
        width: 3.47vw;
        margin-top: 5.55vh;
        margin-bottom: 2.22vh;
        svg {
            width: 100%;
            height: 100%;
        }
    }
    .contentPage {
        .titleHead {
            font-weight: bold;
            font-size: 2.5vw;
        }
        .titleSecond {
            font-size: 1.52vw;
            font-weight: bold;
        }
        .titleEmail {
            text-decoration: underline;
        }
        a {
            text-decoration: none;
            width: fit-content;
            height: fit-content;
            .titleThird {
                color: #ff6d3b;
                font-size: 1.38vw;
                font-weight: bold;
                margin-top: 3vh;
                cursor: pointer;
                svg {
                    width: 0.8vw;
                    height: 1.8vw;
                    margin-left: 0.65vw;
                }
            }
        }
    }
}
