.c-design-carousel {
    /* Display & Box Model */
    @include box(32.7rem, 41rem);
    margin-top: 2rem;
    border-radius: 2rem;
    overflow: hidden;
    /* Color */
    background-color: $--bg-passive;
    /* Text */

    /* Positioning */

    /* Others: transition & animations, ... */

    .swiper-slide {
        height: 41rem !important;
    }
    .swiper-button-next {
        /* Display & Box Model */
        background: none;
        /* Color */
        color: white;
        /* Text */

        /* Positioning */

        /* Others: transition & animations, ... */
    }
    .swiper-button-prev {
        /* Display & Box Model */
        background: none;
        /* Color */
        color: white;
        /* Text */

        /* Positioning */

        /* Others: transition & animations, ... */
    }

    i {
        font-size: 3.6rem;
    }
}
