.c-design-carousel {
    /* Display & Box Model */
    @include box(32.7rem, auto);
    margin-top: 2rem;
    border-radius: 2rem;
    overflow: hidden;
    /* Color */

    /* Text */

    /* Positioning */

    /* Others: transition & animations, ... */

    .swiper-slide {
        height: 41rem !important;
        .c-design-carousel__image {
            border-radius: 2rem;
            background-color: $--bg-passive;
        }
    }
    .swiper-button-next {
        /* Display & Box Model */
        background: none;
        /* Color */
        color: white;
        /* Text */

        /* Positioning */

        /* Others: transition & animations, ... */
    }
    .swiper-button-prev {
        /* Display & Box Model */
        background: none;
        /* Color */
        color: white;
        /* Text */

        /* Positioning */

        /* Others: transition & animations, ... */
    }

    i {
        font-size: 3.6rem;
    }

    &__fabric-type-wrapper {
        /* Display & Box Model */
        @include box(100%, auto);
        @include flexBox(center, center, row, wrap);
        margin: 1.5rem 0;
        /* Color */

        /* Text */

        /* Positioning */

        /* Others: transition & animations, ... */
    }

    &__fabric-type {
        /* Display & Box Model */
        display: inline-block;
        padding: 1rem 1.5rem;
        margin: 0.5rem;
        border-radius: 1.5rem;
        cursor: pointer;
        /* Color */
        color: $--text-passive;
        background-color: $--bg-passive;
        /* Text */
        @include font(fontBold, 1.3rem);
        /* Positioning */

        /* Others: transition & animations, ... */

        &--active {
            /* Display & Box Model */

            /* Color */
            color: $--text-active;
            background-color: $--bg-active;
            /* Text */

            /* Positioning */

            /* Others: transition & animations, ... */
        }
    }
}
