.pagePolicy{
    padding: 8.99vh 6.93vw;
    color: #111E6C;
    .titleHeaderPage{
        font-size: 6.4vw;
        font-weight: bold;
        margin-top: 4.49vh;
    }
    .contentHederPage{
        margin-top: 4.49vh;
        :nth-child(1){
            font-size: 4.8vw;
            font-weight: bold;
        }
        :nth-child(2){
            margin-top: 1.49vh;
            font-size: 3.73vw;
        }
    }
    hr{
        border-top: 1px solid #FF6D3B;
        margin: 4.49vh 0;
    }
    .ant-collapse{
        border: none;
        background-color: transparent;
        .ant-collapse-item{
            border: none;
            margin-bottom: 1.49vh;
        }
        .ant-collapse-header{
            border: none;
            padding: 0 !important;
            color: #FF6D3B !important;
            font-weight: bold;
            font-size: 4vw;
        }
        .ant-collapse-content{
            border: none;
            color: #111E6C !important;
            
        }
        .ant-collapse-content-box{
            padding: 0;
            margin-bottom: 2.99vh;
            margin-top: 0.74vh;
            span{
                font-size: 3.73vw;
                font-weight: 500;
            }
        }
    }
}