.homePage_wrapper {
    width: 100vw;
    height: 100%;
    // font defination
    font-family: "Montserrat", sans-serif !important;
    .fontMontserrat {
        font-family: "Montserrat", sans-serif;
    }
    //end
    .col-3,
    .col-9 {
        padding: 0 !important;
        margin: 0 !important;
    }
    .homeNavbar_wrapper {
        padding: 0 5.69vw;
        width: 100%;
        margin: 5vh 0;
        .navbar {
            width: 100vw;
            padding: 0;
            .iconMenu {
                cursor: pointer;
                img {
                    width: 2.43vw;
                    height: 3.88vh;
                    filter: invert(60%) sepia(70%) saturate(3320%)
                        hue-rotate(334deg) brightness(100%) contrast(103%);
                }
                span {
                    color: #ff6d3b;
                    font-size: 0.97vw;
                    font-weight: bold;
                }
            }
            .personalInfo_wrapper {
                font-size: 0.9vw;
                color: #ff6d3b;
                font-weight: bold;
                .account {
                    margin-right: 2.5%;
                    width: 140px;
                    cursor: pointer;
                    img {
                        height: 4.16vh;
                    }
                }
                .shoppingBadge {
                    color: #ff6d3b !important ;
                    width: 140px;
                    cursor: pointer;
                    img {
                        height: 3.31vh;
                        margin: 0 7px;
                        filter: invert(45%) sepia(88%) saturate(1289%)
                            hue-rotate(337deg) brightness(107%) contrast(101%);
                    }
                    span {
                        color: #ff6d3b;
                    }
                }
            }
            .search_wrapper {
                .ant-input {
                    border: none;
                    background-color: #fff4e3;
                    border-radius: 20px;
                    height: 6vh;
                }
                .ant-input:focus {
                    box-shadow: 0 0 0 2px #ffa45c;
                }
                ::placeholder {
                    color: #ffa45c;
                }
                .ant-input-suffix {
                    i {
                        color: #ffa45c;
                    }
                }
            }
        }
    }
    .welcome {
        margin-top: 2.31vh;
        .sidebar {
            .new,
            .blog {
                width: 13.02vw;
                span {
                    font-size: 0.97vw;
                    color: #111e6c;
                    font-weight: bold;
                    padding: 0 7px;
                }
                :nth-child(3) {
                    width: 14.4px;
                }
                :nth-child(1) {
                    width: 3.6px;
                }
            }
            .menuCategory {
                width: 13.02vw;
                ul {
                    width: 100% !important;
                    border: none;
                }
                span {
                    font-size: 0.97vw;
                    color: #111e6c;
                    font-weight: bold;
                    padding: 0 7px;
                }
                a {
                    color: #111e6c !important;
                }
                .ant-menu-submenu-title {
                    padding: 0 !important;
                    img {
                        width: 3.6px;
                    }
                }
                .ant-menu-item {
                    color: #111e6c;
                    font-weight: 500;
                }
                .ant-menu-item-selected {
                    background-color: transparent;
                    color: #ff6d3b;
                    font-weight: bold;
                }
                .ant-menu-item::after {
                    border: none;
                }
                .ant-menu-item:hover {
                    background-color: #fff4e3;
                    color: #ff6d3b;
                    border-right: 3px solid #ff6d3b;
                }
                .ant-menu-submenu-selected {
                    color: #ffa45c;
                }
                .ant-menu-submenu-arrow:hover,
                .ant-menu-submenu-arrow::after,
                .ant-menu-submenu-arrow::before {
                    background: #ff6d3b !important;
                }
                .ant-menu-sub {
                    li {
                        margin: 0;
                        font-weight: bold;
                        padding-left: 30px !important;
                    }
                }
            }
            .blog {
                height: 40px;
            }
            .new {
                height: 40px;
            }
            .socialNetwork {
                font-size: 0.97vw;
                color: #111e6c;
                font-weight: bold;
                width: 13.02vw;
                margin-top: 8px;
                span {
                    padding: 5px 10px;
                    cursor: pointer;
                }
            }
            .button_wrapper {
                width: 13.02vw;
                height: 37px;
                background-color: #ff6d3b;
                color: white;
                font-weight: bold;
                border-radius: 14px;
                margin-top: 18px;
            }
        }
        .imageBanner {
            height: 100%;
            img {
                width: 88.61vw;
                // height: 58.88vh;
                object-fit: fill;
                border-radius: 15px;
            }
        }
    }
    .fourStep_wrapper {
        .titleHeader {
            font-size: 1.94vw;
            font-weight: bold;
            color: #111e6c;
            margin: 5.55vh 0;
        }
        .fourSteps {
            svg {
                width: 65.208vw;
                height: 20.22vh;
            }
        }
    }
    .categories_wrapper {
        margin-top: 9.33vh;
        padding: 0 5.41vw;
        background-color: white;
        height: auto;
        .category {
            width: 28.75vw;
            // height: 61.11vh;
            background-color: #fff4e3;
            border-radius: 10px;
            .image_wrapper {
                width: 28.75vw;
                img {
                    width: 100%;
                    height: 100%;
                }
            }
            .content {
                position: absolute;
                width: 12.5vw;
                margin-left: 15vw;
                margin-top: 8.22vh;
                .titleHead {
                    font-size: 2.22vw;
                    font-weight: bold;
                    color: #ff6d3b;
                }
                .titleSeconds {
                    color: #111e6c;
                    font-size: 0.97vw;
                    font-weight: bold;
                    margin: 3.88vh 0;
                }
                a {
                    width: fit-content;
                    height: fit-content;
                    text-decoration: none;
                    .button {
                        background: #ffffff;
                        border-radius: 10px;
                        color: #ff6d3b;
                        font-weight: bold;
                        font-size: 0.97vw;
                        width: 7.43vw;
                        height: 5vh;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        cursor: pointer;
                    }
                    .button:hover {
                        color: white;
                        background-color: #ff6d3b;
                    }
                }
            }
            .contentDamSuong {
                margin-top: 5.11vh !important;
                .titleHead {
                    font-size: 2.08vw !important;
                }
                .titleSeconds {
                    margin-top: 2vh !important;
                }
            }
        }
    }
    .introduction {
        background-color: #ff6d3b;
        margin: 7vh 10.2vw 8.88vh 9.58vw;
        border-radius: 20px;
        padding: 4.33vh 0 8.77vh 0;
        span {
            color: white;
        }
        :nth-child(1) {
            font-weight: bold;
            font-size: 1.94vw;
        }
        :nth-child(2) {
            font-size: 1.52vw !important;
            text-align: center;
            font-weight: 500;
            font-style: italic;
            margin-top: 2.22vh;
        }
    }
    .collection_wrapper {
        padding: 0 5.26vw;
        .collection {
            span {
                color: #111e6c;
            }
            :nth-child(1) {
                font-size: 1.94vw;
                font-weight: bold;
            }
            :nth-child(2) {
                padding: 2.77vh 0;
            }
            :nth-child(3) {
                font-size: 1.25vw;
                font-weight: 600;
            }
        }
        .selectionCollection {
            margin-left: 6.25vw;
            .selection {
                .image {
                    width: 21.66vw;
                    height: 64.81vh;
                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }
                .title {
                    background-color: white;
                    position: absolute;
                    margin-top: 49.53vh;
                    margin-left: 1.4vw;
                    width: 18.85vw;
                    height: 16.75vh;
                    span {
                        color: #111e6c;
                    }
                    :nth-child(1) {
                        width: 7.35vw;
                        height: 7.12vh;
                        font-size: 1.31vw;
                        text-align: center;
                        font-weight: bold;
                        margin-top: 2.31vh;
                    }
                    :nth-child(2) {
                        a {
                            font-size: 0.83vw;
                            font-weight: bold;
                            color: #ff6d3b;
                            img {
                                width: 1.35vw;
                                margin-top: 0;
                            }
                        }
                    }
                }
            }
        }
    }
    .strikingProducts {
        height: 101.85vh;
        background-color: #fff4e3;
        margin-top: 9.44vh;
        border-radius: 25px;
        .title {
            margin-top: 6.57vh;
            color: #111e6c;
            font-weight: bold;
            font-size: 1.94vw;
        }
        .carousel-wraper {
            margin-top: 4.72vh;
            .swiper-slide {
                width: fit-content !important;
            }
            .carouselStriking {
                width: 75vw;
                height: 67vh;
            }
            .anticon {
                vertical-align: 0;
            }
            .iconLeft,
            .iconRight {
                cursor: pointer;
            }
            .iconLeft {
                margin-right: 2.08vw;
            }
            .iconRight {
                margin-left: 2.08vw;
            }
            .content-carousel {
                margin: 0 7px;
                .image {
                    width: 21.66vw;
                    height: 55.55vh;
                    border-radius: 15px;
                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                        border-radius: 15px;
                    }
                }
                .end-carousel {
                    .title {
                        font-size: 1.52vw;
                        margin-bottom: 7px;
                        margin-top: 1.85vh;
                    }
                    .button {
                        margin: 0;
                        .titleButton {
                            font-size: 1.11vw;
                            font-weight: bold;
                            color: #ff6d3b;
                            border: 1px solid #ff6d3b;
                            border-radius: 7px;
                            // width: 9.02vw;
                            padding: 5px 7px;
                            text-align: center;
                        }
                    }
                }
            }
        }
        .button {
            margin-top: 7.59vh;
        }
    }
    .weGive {
        margin: 0 5.41vw;
        margin-top: 4.62vh;
        border-radius: 25px;
        background-color: #ff6d3b;
        .title {
            color: white;
            margin-top: 7.22vh;
            :nth-child(1) {
                font-weight: bold;
                font-size: 1.94vw;
            }
            :nth-child(2) {
                font-size: 1.38vw;
                text-align: center;
                font-weight: normal;
            }
        }
        .image {
            width: 64.89vw;
            margin-top: 4.62vh;
        }
        .button {
            margin: 7.22vh 0;
            cursor: pointer;
            span {
                font-weight: bold;
                background-color: white;
                color: #ff6d3b;
                border-radius: 40px;
                padding: 2.12vh 2.7vw;
                font-size: 0.97vw;
            }
            a {
                width: 100%;
                height: 100%;
            }
            a:hover {
                text-decoration: none;
            }
        }
    }
    .passion {
        background-color: #fff4e3;
        height: 70.37vh;
        border-radius: 25px;
        margin-top: 5.55vh;
        .title {
            padding-left: 12.91vw;
            margin-top: 11.33vh;
            span {
                color: #111e6c;
            }
            :nth-child(1) {
                font-size: 1.94vw;
                font-weight: bold;
            }
            :nth-child(2) {
                font-size: 1.52vw;
                // font-weight: bold;
                width: 25vw;
                margin-top: 5.66vh;
            }
        }
        .image {
            width: 44.75vw;
            height: 48vh;
            margin-left: 8.88vw;
            margin-top: 11.33vh;
            img{
                width: 100%;
                height: 100%;
            }
        }
    }
    .instagram {
        padding: 0 5.2vw;
        margin-top: 6.48vh;
        .title {
            img {
                width: 2.18vw;
                height: 3.88vh;
            }
            span {
                font-weight: bold;
                font-size: 1.94vw;
                color: #111e6c;
            }
        }
        .crouselImage {
            margin-top: 2.5vh;
            .image {
                width: 21.11vw;
                // height: 43.66vh;
                img {
                    width: 21.11vw;
                    height: auto;
                }
            }
        }
    }
    .footer_wrapper {
        padding: 0 5.2vw;
        height: 53.05vh;
        background-color: #ff6d3b;
        margin-top: 4.16vh;
        .info {
            padding-top: 12.26vh;
            color: white;
            font-size: 1.11vw;
            font-weight: bold;
            cursor: pointer;
            a {
                width: fit-content;
                height: fit-content;
                text-decoration: none;
                margin-bottom: 3.24vh;
                span {
                    color: white;
                    text-decoration: underline;
                }
            }
            a:hover {
                text-decoration: none;
                span {
                    color: #111e6c !important;
                }
            }
        }
        .contact {
            color: white;
            padding-top: 11.85vh;
            text-align: end;
            font-weight: bold;
            font-size: 1.11vw;
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            .icon {
                margin-top: 4.62vh;
                cursor: pointer;
                a {
                    width: fit-content;
                    height: fit-content;
                    text-decoration: none;
                    img {
                        height: 5.55vh;
                        width: 3.12vw;
                    }
                }
                a:hover {
                    text-decoration: none;
                }
                :nth-child(2) {
                    margin: 0 1vw;
                }
            }
        }
        .logo {
            margin-top: 10.6vh;
            img {
                width: 6.64vw;
                height: 23.28vh;
                filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(141deg)
                    brightness(200%) contrast(101%);
            }
        }
        .email {
            color: white;
            margin-top: 11.18vh;
            .title {
                font-size: 1.52vw;
                font-weight: bold;
            }
            .input {
                align-items: baseline;
                margin-top: 4.16vh;
                border-bottom: 1px solid white;
                padding-bottom: 2px;
                .ant-input {
                    background-color: transparent;
                    border: none;
                    padding: 0;
                    // border-bottom: 1px solid white;
                    border-radius: 0;
                    box-shadow: none;
                }
                input {
                    color: white;
                }
                ::placeholder {
                    color: white;
                }
                .button {
                    font-size: 0.83vw;
                    font-weight: bold;
                    background-color: white;
                    color: #ff6d3b;
                    width: 6.52vw;
                    height: 3.7vh;
                    border-radius: 10px;
                    cursor: pointer;
                }
            }
            .emailError {
                font-size: 0.97vw;
                color: #111e6c;
                display: inline !important;
            }
            .emailError_unvisible {
                display: none;
            }
        }
        .endFooter {
            margin-top: 6.44vh;
            color: white;
            opacity: 0.8;
            font-size: 0.9vw;
        }
    }
}
.homePage_wrapper.disable_scroll {
    position: fixed;
    top: 0;
}
