.homePage_wrapper {
    width: 100vw;
    height: auto;

    // font defination
    .fontBeVN {
        font-family: "Be Vietnam", sans-serif;
    }
    .fontMontserrat {
        font-family: "Montserrat", sans-serif;
    }
    //end
    .col-3,
    .col-9 {
        padding: 0 !important;
        margin: 0 !important;
    }
    .homeNavbar_wrapper {
        padding-right: 5.6%;
        .navbar {
            margin-top: 4vh;
            .personalInfo_wrapper {
                font-size: 13px;
                color: #ff6d3b;
                font-weight: bold;
                .account {
                    margin-right: 2.5%;
                    width: 140px;
                    cursor: pointer;
                    img {
                        height: 4.16vh;
                    }
                }
                .shoppingBadge {
                    width: 140px;
                    cursor: pointer;
                    img {
                        height: 3.31vh;
                        margin: 0 7px;
                    }
                }
            }
            .search_wrapper {
                .ant-input {
                    border: none;
                    background-color: #fff4e3;
                    border-radius: 20px;
                    height: 6vh;
                }
                .ant-input:focus {
                    box-shadow: 0 0 0 2px #ffa45c;
                }
                ::placeholder {
                    color: #ffa45c;
                }
                .ant-input-suffix {
                    i {
                        color: #ffa45c;
                    }
                }
            }
        }
    }
    .welcome {
        margin-top: 2.31vh;
        padding-right: 5.6%;
        .sidebar {
            .new,
            .blog {
                width: 13.02vw;
                span {
                    font-size: 14px;
                    color: #111e6c;
                    font-weight: bold;
                    padding: 0 7px;
                }
                :nth-child(3) {
                    width: 14.4px;
                }
                :nth-child(1) {
                    width: 3.6px;
                }
            }
            .menuCategory {
                width: 13.02vw;
                ul {
                    width: 100% !important;
                    border: none;
                }
                span {
                    font-size: 14px;
                    color: #111e6c;
                    font-weight: bold;
                    padding: 0 7px;
                }
                .ant-menu-submenu-title {
                    padding: 0 !important;
                    img {
                        width: 3.6px;
                    }
                }
                .ant-menu-item {
                    color: #111e6c;
                    font-weight: 500;
                }
                .ant-menu-item-selected {
                    background-color: transparent;
                    color: #ff6d3b;
                    font-weight: bold;
                }
                .ant-menu-item::after {
                    border: none;
                }
                .ant-menu-item:hover {
                    background-color: #fff4e3;
                    color: #ff6d3b;
                    border-right: 3px solid #ff6d3b;
                }
                .ant-menu-submenu-selected {
                    color: #ffa45c;
                }
                .ant-menu-submenu-arrow:hover,
                .ant-menu-submenu-arrow::after,
                .ant-menu-submenu-arrow::before {
                    background: #ff6d3b !important;
                }
                .ant-menu-sub {
                    li {
                        margin: 0;
                        font-weight: bold;
                        padding-left: 30px !important;
                    }
                }
            }
            .blog {
                height: 40px;
            }
            .new {
                height: 40px;
            }
            .socialNetwork {
                font-size: 14px;
                color: #111e6c;
                font-weight: bold;
                width: 13.02vw;
                margin-top: 8px;
                span {
                    padding: 5px 10px;
                    cursor: pointer;
                }
            }
            .button_wrapper {
                width: 13.02vw;
                height: 37px;
                background-color: #ff6d3b;
                color: white;
                font-weight: bold;
                border-radius: 14px;
                margin-top: 18px;
            }
        }
        .image {
            height: 100%;
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }
    .fourStep_wrapper {
        background-color: #fff4e3;
        margin-top: 25px;
        height: 58vh;
        border-radius: 25px;
        .titleHeader {
            font-size: 32px;
            font-weight: bold;
            color: #111e6c;
            margin-top: 41px;
        }
        .fourStep {
            width: 74.32vw;
            margin-top: 5px;
            .step1 {
                .image {
                    width: 6.3vw;
                    height: 120px;
                    img {
                        width: 100%;
                    }
                }
            }
            .step2 {
                .image {
                    width: 6.66vw;
                    height: 120px;
                    img {
                        width: 100%;
                    }
                }
            }
            .step3 {
                .image {
                    width: 7.88vw;
                    height: 120px;
                    img {
                        width: 100%;
                    }
                }
            }
            .step4 {
                .image {
                    width: 8.17vw;
                    height: 120px;
                    img {
                        width: 100%;
                    }
                }
            }
            .title {
                width: 100%;
                display: flex;
                justify-content: center;
            }
            span {
                font-weight: bold;
                color: #111e6c;
                font-size: 18px;
            }
        }
        .numberStep {
            margin-top: 10px;
            width: 74.32vw;
            .number {
                color: #ff6d3b;
                border-radius: 50%;
                border: 1px solid #ff6d3b;
                font-size: 18px;
                background-color: #fff4e3;
                padding: 1px 9px;
                font-weight: bold;
            }
            :nth-child(1) {
                margin-left: 2.1vw;
            }
            :nth-child(2) {
                width: 90%;
            }
            :nth-child(4) {
                width: 95%;
            }
            :nth-child(6) {
                width: 100%;
            }
            :nth-child(7) {
                margin-right: 2.6vw;
            }
        }
        hr {
            border-top: 1px solid #ff6d3b;
            // width: 80%;
            margin: 0;
        }
        .button {
            background-color: #ff6d3b;
            color: white;
            font-weight: bold;
            margin-top: 53px;
            width: 14.16vw;
            height: 5.83vh;
            border-radius: 20px;
        }
    }
    .categories_wrapper {
        margin-top: 3.61vh;
        padding: 0 5.41vw;
        height: 100% !important;
        background-color: white;
        .col-5,
        .col-7 {
            padding: 0;
            margin: 0;
        }
        .col-5 {
            padding-left: 0.41vw;
            :nth-child(2) {
                margin-top: 1.48vh;
            }
        }
        .col-7 {
            padding-right: 0.41vw;
        }
        .categoriesfirst {
            height: 64.81vh;
            background-color: #fff4e3;
            border-radius: 25px;
            .image {
                width: 20vw;
                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
            .title {
                position: absolute;
                width: 23.33vw;
                margin-top: 17.22vh;
                margin-left: 25.83vw;
                span {
                    color: #111e6c;
                }
                :nth-child(1) {
                    font-size: 28px;
                    font-weight: bold;
                }
                :nth-child(2) {
                    font-size: 14px;
                    width: 21.61vw;
                    font-weight: 600;
                }
                :nth-child(3) {
                    width: 4.2vw;
                    height: 5.24vh;
                    margin-left: -1.1vw;
                }
            }
        }
        .categoriesSecond {
            height: 31.66vh;
            background-color: #fff4e3;
            border-radius: 25px;
            .titleFirst {
                position: absolute;
                width: 23.33vw;
                margin-top: 6.2vh;
                margin-left: 18.43vw;
                span {
                    color: #111e6c;
                }
                :nth-child(1) {
                    font-size: 28px;
                    font-weight: bold;
                }
                :nth-child(2) {
                    font-size: 14px;
                    width: 14.16vw;
                    font-weight: 600;
                    margin-top: 0 !important;
                }
                :nth-child(3) {
                    width: 4.2vw;
                    height: 5.24vh;
                    margin-left: -1.1vw;
                }
            }
            .titleSecond {
                position: absolute;
                width: 23.33vw;
                margin-top: 7.59vh;
                margin-left: 2.7vw;
                span {
                    color: #111e6c;
                }
                :nth-child(1) {
                    font-size: 28px;
                    font-weight: bold;
                }
                :nth-child(2) {
                    font-size: 14px;
                    width: 11.4vw;
                    font-weight: 600;
                    margin-top: 0 !important;
                }
                :nth-child(3) {
                    width: 4.2vw;
                    height: 5.24vh;
                    margin-left: -1.1vw;
                }
            }
        }
    }
    .introduction {
        padding: 12.31vh;
        span {
            color: #ff6d3b;
        }
        :nth-child(1) {
            font-weight: bold;
            font-size: 32px;
        }
        :nth-child(2) {
            font-size: 18px !important;
            padding: 0 23vw;
            text-align: center;
            font-weight: 500;
            span {
                font-size: 18px !important;
            }
        }
    }
    .collection_wrapper {
        padding: 0 5.26vw;
        .collection {
            span {
                color: #111e6c;
            }
            :nth-child(1) {
                font-size: 28px;
                font-weight: bold;
            }
            :nth-child(2) {
                padding: 2.77vh 0;
            }
            :nth-child(3) {
                width: 13.5vw;
                font-size: 14px;
                font-weight: 600;
            }
        }
        .selectionCollection {
            margin-left: 6.25vw;
            .selection {
                .image {
                    width: 21.66vw;
                    height: 64.81vh;
                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }
                .title {
                    background-color: white;
                    position: absolute;
                    margin-top: 49.53vh;
                    margin-left: 1.4vw;
                    width: 18.85vw;
                    height: 16.75vh;
                    span {
                        color: #111e6c;
                    }
                    :nth-child(1) {
                        width: 7.35vw;
                        height: 7.12vh;
                        font-size: 19px;
                        text-align: center;
                        font-weight: bold;
                        margin-top: 2.31vh;
                    }
                    :nth-child(2) {
                        font-size: 12px;
                        font-weight: bold;
                        color: #ff6d3b;
                        img {
                            width: 1.35vw;
                            margin-top: 0;
                        }
                    }
                }
            }
        }
    }
    .strikingProducts {
        height: 101.85vh;
        background-color: #fff4e3;
        margin-top: 9.44vh;
        border-radius: 25px;
        .title {
            margin-top: 6.57vh;
            color: #111e6c;
            font-weight: bold;
            font-size: 32px;
        }
        .carousel-wraper {
            margin-top: 4.72vh;
            .swiper-slide {
                width: fit-content !important;
            }
            .carouselStriking {
                width: 75vw;
            }
            .anticon {
                vertical-align: 0;
            }
            .iconLeft,
            .iconRight {
                font-size: 35px;
                color: #ff6d3b;
            }
            .iconLeft {
                margin-right: 79px;
            }
            .iconRight {
                margin-left: 79px;
            }
            .content-carousel {
                margin: 0 7px;
                .image {
                    width: 21.66vw;
                    height: 55.55vh;
                    border-radius: 7px;
                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }
                .end-carousel {
                    .title {
                        font-size: 20px;
                        margin-bottom: 7px;
                        margin-top: 1.85vh;
                    }
                    .button {
                        margin: 0;
                        .titleButton {
                            font-size: 14px;
                            color: #ff6d3b;
                            border: 1px solid #ff6d3b;
                            border-radius: 7px;
                            width: 129px;
                            padding: 5px 0;
                            text-align: center;
                        }
                    }
                }
            }
        }
        .button {
            margin-top: 7.59vh;
        }
    }
    .weGive {
        margin: 0 5.41vw;
        margin-top: 4.62vh;
        border-radius: 25px;
        background-color: #ff6d3b;
        .title {
            color: white;
            margin-top: 7.22vh;
            :nth-child(1) {
                font-weight: bold;
                font-size: 32px;
            }
            :nth-child(2) {
                font-size: 14px;
                width: 28.5vw;
                text-align: center;
                font-weight: bold;
            }
        }
        .image {
            width: 64.89vw;
            margin-top: 4.62vh;
            img {
                width: 21.09vw;
                height: 24.62vh;
                background-color: #fff4e3;
            }
        }
        .button {
            margin: 7.22vh 0;
            cursor: pointer;
            span {
                font-weight: bold;
                background-color: white;
                color: #ff6d3b;
                border-radius: 40px;
                padding: 2.12vh 2.7vw;
            }
        }
    }
    .passion {
        background-color: #fff4e3;
        height: 70.37vh;
        border-radius: 25px;
        margin-top: 5.55vh;
        .title {
            padding-left: 12.91vw;
            margin-top: 9.72vh;
            span {
                color: #111e6c;
            }
            :nth-child(1) {
                font-size: 32px;
                font-weight: bold;
            }
            :nth-child(2) {
                font-weight: 14;
                font-weight: bold;
                width: 11vw;
                margin-top: 4.62vh;
            }
        }
        .image {
            width: 51.66vw;
            height: 60.64vh;
            background-color: #ffa45c;
            border-radius: 25px;
            margin-top: 4.93vh;
            margin-left: 15.83vw;
        }
    }
    .instagram {
        padding: 0 5.2vw;
        margin-top: 6.48vh;
        .title {
            img {
                width: 2.18vw;
                height: 3.88vh;
            }
            span {
                font-weight: bold;
                font-size: 32px;
                color: #111e6c;
            }
        }
        .crouselImage {
            margin-top: 2.5vh;
            .image {
                width: 21.66vw;
                height: 49.62vh;
                background-color: #ffa45c;
            }
        }
    }
    .footer_wrapper {
        padding: 0 5.2vw;
        height: 53.05vh;
        background-color: #ff6d3b;
        margin-top: 4.16vh;
        .info {
            padding-top: 12.26vh;
            color: white;
            font-size: 16px;
            font-weight: bold;
            :nth-child(2) {
                margin: 3.24vh 0;
            }
        }
        .contact {
            color: white;
            padding-top: 11.85vh;
            text-align: center;
            font-weight: bold;
            font-size: 16px;
            .icon {
                margin-top: 4.62vh;
                img {
                    height: 5.55vh;
                    width: 3.12vw;
                }
                :nth-child(2) {
                    margin: 0 2.6vw;
                }
            }
        }
        .logo {
            margin-top: 8.42vh;
            img {
                width: 6.64vw;
                height: 23.28vh;
                filter: invert(100%) sepia(100%) saturate(2%) hue-rotate(309deg)
                    brightness(104%) contrast(101%);
            }
        }
        .email {
            color: white;
            margin-top: 11.18vh;
            .title {
                font-size: 22px;
                font-weight: bold;
            }
            .input {
                align-items: baseline;
                margin-top: 4.16vh;
                .ant-input {
                    background-color: transparent;
                    border: none;
                    border-bottom: 1px solid white;
                    border-radius: 0;
                    box-shadow: none;
                }
                ::placeholder {
                    color: white;
                }
                .button {
                    font-size: 8px;
                    font-weight: bold;
                    background-color: white;
                    color: #ff6d3b;
                    width: 6.51vw;
                    height: 3.7vh;
                    border-radius: 40px;
                }
            }
        }
        .endFooter {
            margin-top: 13.47vh;
            color: white;
            opacity: 0.8;
            font-size: 13px;
        }
    }
}
