.c-banner {
    /* Display & Box Model */
    @include box(100%, 24rem);
    border-radius: 30px;
    overflow: hidden;
    /* Color */
    background-color: $--bg-passive;
    /* Text */

    /* Positioning */

    /* Others: transition & animations, ... */

}