.banner {
    /* Display & Box Model */
    width: 100%;
    height: 24rem;
    border-radius: 30px;
    /* Color */
    background-color: $--bg-passive;
    /* Text */

    /* Positioning */

    /* Others: transition & animations, ... */

}