.c-selection-fabrics {
    /* Display & Box Model */
    @include flexBox(flex-start, flex-start, column);
    padding-top: 2rem;
    /* Color */

    /* Text */

    /* Positioning */

    /* Others: transition & animations, ... */

    &__pagination {
        /* Display & Box Model */
        padding: 0.3rem 1.4rem;
        border-radius: 1rem;
        /* Color */
        background-color: $--bg-black;
        color: $--text-active;
        /* Text */
        @include font(fontSemiBold, 1.3rem);
        /* Positioning */

        /* Others: transition & animations, ... */
    }
    &__list {
        /* Display & Box Model */
        @include box(100%, auto);
        min-height: 7rem;
        // max-height: 1.4rem;
        margin-top: 1rem;
        margin-right: -0.5rem;
        /* Color */

        /* Text */

        /* Positioning */

        /* Others: transition & animations, ... */
    }

    .slick-track {
        height: 10rem;
        overflow: hidden;
    }
    .slick-slide {
        margin-right: 1rem;
    }
    // .slick-current .c-selection-item {
    //     &__type {
    //         color: $--text-passive;
    //     }
    // }

    @import "./FabricItem/selectionFabricItem";
}
