.c-background {
    /* Display & Box Model */
    @include box(100%, 25rem);
    /* Color */
    background-color: $--bg-passive;
    /* Text */

    /* Positioning */
    position: relative;

    /* Others: transition & animations, ... */

    &__button-back {
        /* Display & Box Model */
        @include box(2.9rem);
        /* Color */
    
        /* Text */
    
        /* Positioning */
        position: absolute;
        top: 2.1rem;
        left: 3.6rem;
    
        /* Others: transition & animations, ... */
    
    }
}
@media screen and (min-width: 769px) {
    .c-background {
        /* Display & Box Model */
        @include box(100%, 40rem);
        /* Color */
    
        /* Text */
    
        /* Positioning */
    
        /* Others: transition & animations, ... */
        &__button-back {
            /* Display & Box Model */
            @include box(5rem);
            top: 9rem;
            left: 7rem;
            /* Color */
        
            /* Text */
        
            /* Positioning */
        
            /* Others: transition & animations, ... */
            cursor: pointer;
        }
    }
}